{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}academics/{% endblock %}
{% block narrative_link %}academics-narrative/{% endblock %}
{% block yale_link %}academics-yale/{% endblock %}

{% block nav_items_narrative %}
    <li>Academic Dishonesty</li>
    <li>A Year Off</li>
    <li>In the Classroom</li>
    <li>On the Playing Field</li>
{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2019_2.jpg">
{% endblock %}

{% block content %}
    <div id="subhead">Academics and Extracurriculars</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1211610/Jalin%20P.__Cunningham/">Jalin P. Cunningham</a>
            and
            <a href="http://www.thecrimson.com/writer/1211683/Luca_F._Schroeder/">Luca F. Schroeder</a>
        </p>
        <p>When Harvard&rsquo;s matriculating freshmen responded to an essay prompt on the College&rsquo;s standards of academic honesty&mdash;and their own&mdash;as part of their writing placement exam earlier this summer, many did so having cheated in their previous academic work, according to results from a survey of 1,184 incoming freshmen conducted by The Crimson.</p>
        <p>About 23 percent of freshmen surveyed reported cheating on some academic work prior to coming to Harvard.</p>
        <p>The results come as the College seeks to strengthen its cultural commitment to integrity with the rollout of its first honor code, which describes academic honesty as the “foundation” of the Harvard community&mdash;a principle many of its newest members already violated by the time they entered the Yard.</p>
        <p>Members of the Class of 2019 reported similar levels of cheating as <a href="http://www.thecrimson.com/article/2014/9/4/freshman-survey-academics-extracurriculars/">last year&rsquo;s freshmen did</a>, with roughly one of five surveyed freshmen admitting to having cheated on a problem set or regular homework assignment and one in 10 admitting to having cheated on an exam. Those numbers are comparable to what members of the Class of 2015 reported about their experiences on campus: 19.5 percent of respondents to The Crimson annual senior survey said <a href="http://features.thecrimson.com/2015/senior-survey/">they had cheated</a> while at Harvard, 90 percent of them on a problem set or homework assignment.</p>
        <p>The freshman survey, conducted by The Crimson via email, was sent to all incoming freshmen on Aug. 6 and closed on Aug. 27. Of the 1,665 students in the incoming class, 1,184 responded, representing roughly 71 percent of the class. The Crimson did not adjust the survey results for any possible selection bias.</p>
        <p>The survey touched on a range of topics related to students&rsquo; lives in and out of the classroom and their expectations for life on Harvard&rsquo;s Cambridge campus.</p>
        <p class="scroll-row"><strong>Academic Dishonesty</strong></p>
        <ul>
            <li>Roughly 23 percent of survey respondents admitted to cheating in an academic context. Of those, 84 percent said they had cheated on a problem set or regular homework assignment, 40 percent said they had cheated on an essay or take-home assignment, and 46 percent said they had cheated on an exam.</li>
            <li>Men were more likely (27 percent) than women (18 percent) to admit cheating in an academic context. Male and female survey respondents who said they had cheated were equally likely to admit to cheating on an essay, take-home assignment, or problem set, but men were more likely (50 percent) to admit to cheating on an exam than women (40 percent).</li>
            <li>Recruited athletes were more likely to admit to cheating (28 percent) than respondents who were not recruited to play a varsity sport at Harvard (22 percent).</li>
            <li>About 28 percent of students who are the youngest child in their family said they had cheated in an academic context, compared to 19 percent of students who are the oldest child in their family.</li>
            <li>Of the survey respondents, students from private parochial schools were most likely to admit to cheating in an academic context, at 29 percent, compared to 16 percent of students from private non-denominational schools, who were least likely to report having cheated.</li>
            <li>Survey respondents who reported using substances such as alcohol, tobacco, marijuana, and the psychostimulant Adderall&mdash;frequently or infrequently&mdash;were more likely to admit to cheating in an academic context than those who never used those substances.</li>
        </ul>
        <p class="scroll-row"><strong>A Year Off</strong></p>
        <p>Eight percent of survey respondents said they took a gap year between high school and college to engage in volunteer work (65 percent of gap year respondents), paid work (61 percent), travel (70 percent), and other activities. Men were more likely (11 percent) to take a gap year than women (6 percent), and students who were accepted into Harvard early were less likely (5 percent) to take a gap year compared to students who were not accepted early at any college (15 percent). The survey also found that respondents&rsquo; religion, ethnicity, income, and geographic origin were linked to how likely they were to take a gap year.</p>
        <ul>
            <li>Of respondents who took a gap year, 61 percent reported that their acceptance to Harvard was deferred by a year, suggesting that they may be members of the Admissions Office&rsquo;s “z-list.”</li>
            <li>About 75 percent of respondents who said they receive financial aid from Harvard and also took gap years worked a paid job during their time off.</li>
            <li>More affluent respondents were more likely to take a gap year before Harvard. Fifteen percent of surveyed freshmen with a household income of $500,000 or more took gap years, compared to only 2 percent of students from households with annual incomes of less than $40,000.</li>
            <li>Eleven percent of respondents who identify as white took a gap year, compared to 2 percent of students who identify as black or African American.</li>
            <li>First-generation college students were much less likely to take gap years&mdash;only one in 100 first-generation respondents took a gap year, compared to one in 10 surveyed freshmen who were not the first generation in their families to attend college.</li>
            <li>Eighteen percent of legacy respondents, with one or two parents who attended Harvard College, took a gap year, compared to 6 percent of students who had no relatives who went to the College.</li>
            <li>Only 3 percent of recruited athletes took a gap year, compared to 9 percent of non-athletes.</li>
            <li>Surveyed students from outside of the United States were most likely (18 percent) to take a gap year, while respondents from the Midwest were the least likely to take a gap year (4 percent).</li>
            <li>Seventeen percent of Jewish respondents took a gap year, compared to just 3 percent of Hindu respondents and 4 percent of Muslim respondents.</li>
            <li>Respondents from suburban communities were less likely (7 percent) to take gap years than students from rural and urban areas (10 percent and 11 percent, respectively).</li>
            <li>Surveyed freshmen from private school were twice as likely (12 percent) to take a gap year than respondents who attended public high school (6 percent).</li>
        </ul>
        <p class="scroll-row"><strong>In the Classroom</strong></p>
        <p>While surveyed freshmen gravitated toward perennial favorites like Economics and Government as potential concentrations, only 12 reported that Theater, Dance, and Media&mdash;the College&rsquo;s newest concentration&mdash;is their first choice for their eventual field of study. Of those 12 students, however, 10 said the new concentration influenced their decision to come to Harvard.</p>
        <p>Coming in behind Economics and Government, Computer Science ranked third in the list of potential concentrations favored by respondents, narrowly edging out Neurobiology, with 7 percent of respondents planning to concentrate in the field. The concentration&rsquo;s flagship course, <a href="http://www.thecrimson.com/article/2014/9/18/this-is-cs50/">Computer Science 50: “Introduction to Computer Science I,”</a> surpassed Economics 10a: “Principles of Economics” last fall to become the College&rsquo;s most popular course,.</p>
        <p>The survey also revealed sharp gender divides in academic and extracurricular interests among incoming freshmen. While the number of survey respondents planning on concentrating in the Arts and Humanities division increased to 12 percent from 9 percent last year, for example, women were almost twice as likely as men to do so. And the opposite was true for potential concentrators at the School of Engineering and Applied Sciences&mdash;27 percent of male survey respondents planned to concentrate in the division, compared to 16 percent of female respondents.</p>
        <ul>
            <li>About 36 percent of survey respondents said they plan to concentrate in the social sciences, and 26 percent plan to concentrate in Economics or Government, two of the College&rsquo;s most popular concentrations.</li>
        </ul>
        <ul>
            <li>Concentrations in the Sciences division were some of the most balanced with respect to the genders of prospective concentrators: 26 men and 28 women planned to concentrate in Molecular and Cellular Biology, for instance.</li>
            <li>Among concentrations with 10 or more prospective concentrators, Economics (106 men, 52 women), Neurobiology (18 men, 49 women), Psychology (3 men, 25 women), and English (6 men, 24 women) were among those with the greatest gender imbalances.</li>
            <li>Men were more likely (22 percent) to have previously taken courses in mathematics above the level of BC Calculus than women (17 percent).</li>
            <li>Regarding sources of pressure, women were more likely to report that they were motivated by their own expectations, while men were more likely to feel pressure from teachers and peers or not at all.</li>
        </ul>
        <p class="scroll-row"><strong>On the Playing Field</strong></p>
        <p>Surveyed freshmen mirrored their sophomore counterparts with respect to extracurricular commitments in high school, with community service once again the most popular extracurricular activity among respondents, with nearly 78 percent participation, followed by athletics at 66 percent.</p>
        <p>Twelve percent of respondents said they were recruited to a varsity sports team, while more than 8 percent plan to walk onto one; both percentages are on par with previous classes. Men in the survey pool were twice as likely as women to indicate interest in walking on to a team, while women were more likely to have been previously recruited.</p>
        <p>Geographic location was also related to respondents&rsquo; interest in participating in varsity sports: Surveyed freshmen who hail from the Midwest were the most likely to be recruited, with 17 percent of respondents from the region entering Harvard as varsity athletes. Graduates of private, parochial high schools were twice as likely to have been recruited than public school matriculates.</p>
        <ul>
            <li>The average best overall SAT score among surveyed recruited athletes was 2077, compared to 2244 among respondents who were not recruited to play a varsity sport at Harvard.</li>
            <li>Among students who were not homeschooled, non-denominational private school students were the least likely to have participated in community service before Harvard, but they were most likely to have participated in debate. The opposite was true of public charter school students.</li>
            <li>Women were more likely (15 percent of respondents) to be editors-in-chief of their high school newspaper than men (9 percent). Men, on the other hand, were more likely (21 percent) to be high school student body presidents than women (13 percent), although women were more likely to report that they believe in the power of student government to effect change (73 percent and 63 percent, for women and men, respectively).</li>
            <li>Forty-two percent of respondents said they were either somewhat or very interested in joining a final club, fraternity, or sorority at the College, 3 percentage points fewer than surveyed members of the Class of 2018 reported last year. Last year, administrators put Harvard&rsquo;s social scence, including organizations like final clubs&mdash;which are not recognized by the College&mdash;under scrutiny.</li>
            <li>Fifty-three percent of students from private parochial schools expressed interest in joining one of these unrecognized social groups, compared to 23 percent of public charter school students.</li>
            <li>Thirty-six percent of students who hail from households with a combined income of less than $125,000 a year were interested in joining a final club, fraternity, or sorority, compared to 47 percent of students from households with a combined annual income of $125,000 or more.</li>
        </ul>
        <p>&mdash;Staff writer Jalin P. Cunningham can be reached at jalincunningham@college.harvard.edu. Follow her on Twitter <a href="https://twitter.com/jalincunningham">@JalinCunningham</a>.</p>
        <p>&mdash;Staff writer Luca F. Schroeder can be reached at luca.schroeder@thecrimson.com. Follow him on Twitter<a href="https://twitter.com/lucaschroeder"> @lucaschroeder</a>.</p>
    </div>

{% endblock %}
