{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}`
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}lifestyle/{% endblock %}
{% block narrative_link %}lifestyle-narrative/{% endblock %}
{% block yale_link %}lifestyle-yale/{% endblock %}

{% block nav_items_narrative %}
    <li>Sex</li>
    <li>Extracurricular Pursuits</li>
    <li>Politics and Religion</li>
    <li>Technology</li>
{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2019_3.jpg">
{% endblock %}

{% block content %}
    <div id="subhead">Beliefs and Lifestyle</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1211546/Andrew%20_M._Duehren%20/">Andrew M. Duehren</a>
            and
            <a href="http://www.thecrimson.com/writer/1212311/Hellary_Y._Zhang/">Hellary Y. Zhang</a>
        </p>
        <p>Every year, Harvard College’s Admissions Office encourages newly admitted students to take time off before college. Eight percent of respondents to The Crimson’s Class of 2019 survey took that advice, and apparently they used their gap years to have a little more fun than the rest of their peers.</p>
        <p>While 38 percent of all survey respondents reported that they had had sexual intercourse, 56 percent of those who took a gap year after high school said they had. Wealthier students, students who said they were recruited athletes, and Jewish students were also more likely than their peers to have had sex before college. Still, it was the third straight year that the majority of respondents said they were virgins. </p>
        <p>The Crimson’s annual survey asked incoming freshmen dozens of questions on topics including their financial and educational backgrounds, views on politics and religion, interest in campus social life, expectations about academic and extracurricular life at Harvard, and experience with drugs and alcohol. The survey was emailed to all incoming freshmen on Aug. 6 and closed on Aug. 27, garnering responses from 1,184 students, roughly 71 percent of the 1,665-person class. The Crimson did not adjust the survey results for any possible selection bias. </p>
        <p>Much is made every year about the academic profile of Harvard’s freshmen. In this third and final installment of The Crimson’s analysis of the Class of 2019 survey, get to know Harvard’s newest students for their non-academic pursuits. </p>
        <p class="scroll-row"><strong>Sex</strong></p>
        <p>Students’ reported ambitions at Harvard were also indicative of their sexual history. Surveyed freshmen who said they are “very interested” in joining a final club, fraternity, or sorority were more than twice as likely to have reported having had sexual intercourse than their peers who reported they are “not at all interested” in joining a final club.</p>
        <ul>
            <li>Male surveyed students were more likely to report having had sexual intercourse than female students.</li>
            <li>Students who reported being “extremely religious” were much less likely to have had sexual intercourse.  The more religious a student reported being, the less likely they were to have ever had sex.</li>
            <li>The more frequently respondents reported having alcohol, the more likely they were to report having had sexual intercourse.</li>
            <li>Respondents who are not on financial aid are more likely to have had sex than students who are on financial aid.</li>
            <li>International students and students from the Southeast were more likely to report having had sex with more than one person.</li>
        </ul>
        <p class="scroll-row"><strong>Extracurricular Pursuits</strong></p>
        <p>While the vast majority of surveyed students reported staying clean from illicit substances like marijuana and cocaine, a majority—almost 65 percent—reported having tried alcohol.</p>
        <ul>
            <li>Similar to data from previous years, 74 percent and 86 percent of respondents have never tried marijuana or tobacco, respectively.</li>
            <li>Students from private schools were more likely to report having tried alcohol.</li>
            <li>Male surveyed students were more likely to have used alcohol, marijuana, and tobacco.</li>
            <li>The higher a student’s reported family income, the more likely they were to have tried alcohol and marijuana.</li>
            <li>Students who are recruited athletes were more likely to have reported using alcohol.</li>
            <li>Students who took a gap year were more likely to have used alcohol or marijuana.</li>
        </ul>
        <p class="scroll-row"><strong>Politics and Religion</strong></p>
        <p>Though his national polling numbers are stagnant, President Barack Obama can count on at least one group’s support: Harvard’s Class of 2019. Compared to last year’s class, this year’s batch of freshmen holds a much more favorable view of the president; year to year, the favorability rating among surveyed freshmen jumped from 58 percent to 69 percent. Here’s how the class breaks down politically and religiously:</p>
        <ul>
            <li>Almost two thirds of surveyed freshmen identified as somewhat or very liberal; only 12 percent of the class said they were at least somewhat conservative.</li>
            <li>About 28 percent of respondents who attended a private parochial school prior to attending Harvard identified as either somewhat or very conservative. Eleven percent of respondents who attended public non-charter and 11 percent of respondents who attended private non-denominational identified as such.</li>
            <li>After the U.S. Supreme Court’s ruled in favor of establishing a constitutional right to same-sex marriage this June, 86 percent of freshmen support same-sex marriage, up from 83 percent in last year’s survey. Six percent of respondents oppose same-sex marriage. Respondents from the Northeast were the most likely to support same-sex marriage.</li>
            <li>Roughly 55 percent of respondents supported the Affordable Care Act, Obama’s signature and controversial healthcare law.</li>
            <li>One half of respondents are in favor of legalizing marijuana, while 43 percent are in favor of a nationwide $15 minimum wage.</li>
            <li>When asked whether they believed Harvard should divest from fossil fuels, as some students have recently advocated, 37 percent of respondents said “yes” and 18 percent said “no,” but 45 percent were unsure.</li>
            <li>About 21 percent of the class is agnostic, while 17 percent are atheists. Atheists were most likely to describe themselves as very liberal, while Catholics were most likely to describe themselves as very conservative.</li>
            <li>Roughly 17 percent of respondents identified as Catholic, 17 percent as Protestant, 10 percent as Jewish, 3 percent as Hindu, 3 percent as Muslim, and half a percent as Mormon. Twelve percent of respondents chose “other.”</li>
            <li>Forty-one percent of surveyed freshmen said they are “not confident at all” that the police treat white people and black people equally. About 37 percent were “not so confident,” while only 3 percent reported feeling “very confident.”</li>
        </ul>
        <p class="scroll-row"><strong>Technology</strong></p>
        <p>You’re likely to walk through Harvard Yard and see many freshmen in the coming weeks, but most of them will probably be looking down at their iPhones. Like the Class of 2018, this year’s surveyed freshmen overwhelmingly prefer Apple products. Eighty percent of surveyed freshmen own iPhones, while 75 percent own Macs. Here’s the rest of the class’s technology profile:</p>
        <ul>
            <li>Ninety percent of respondents whose family income totaled $500,000 or more are Mac users, while 61 percent of surveyed freshmen whose family income is below $40,000 own Macs.</li>
            <li>About 78 percent of white respondents said they own Macs, compared to 66 percent of respondents who identify as black or African American.</li>
            <li>Three percent of respondents said they abstain from Facebook.</li>
            <li>Snapchat was the second-most popular social media platform among respondents, with 82 percent of respondents reporting that they have Snapchat accounts.</li>
            <li>Behind Facebook and Snapchat, 70 percent of surveyed members of the Class of 2019 have Instagram accounts, while 48 percent have Twitter accounts. About 36 percent of male freshmen surveyed said they were not on Instagram, compared to 24 percent of surveyed women.</li>
        </ul>
        <p>&mdash;Staff writer Andrew M. Duehren can be reached at andy.duehren@thecrimson.com. Follow her on Twitter <a href="https://twitter.com/aduehren">@aduehren</a>.</p>
        <p>&mdash;Staff writer Hellary Y. Zhang can be reached at eketo@college.harvard.edu.</p>
    </div>

{% endblock %}
