{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}`
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}lifestyle/{% endblock %}
{% block narrative_link %}lifestyle-narrative/{% endblock %}
{% block yale_link %}lifestyle-yale/{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2019_3.jpg">
{% endblock %}

{% block content %}
    <div id="subhead">Freshman Yalies Support Divestment, Have Had Less Sex than Harvard Freshmen</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1210595/Meg_P._Bernhard/">Meg P. Bernhard</a>
        </p>
        <p>A contingent of students at both Harvard and Yale have for years rallied their respective universities to withdraw their investments from fossil fuel companies. But surveyed freshmen at Yale were more likely to support fossil fuel divestment for their university than their Harvard counterparts, according to polls of both freshman classes.</p>
        <p>Fifty-five percent of respondents to a freshman survey from the Yale Daily News, Yale’s daily student newspaper, said they thought Yale should divest from fossil fuels. At Harvard, 37 percent of surveyed freshman said the University should divest, according to a poll sent by The Crimson.</p>
        <p>Of the 1,665 freshmen at Harvard, 1,184, more than 70 percent of the class, responded to The Crimson’s emailed survey. Of 1,364 Yale freshmen, 853, or 63 percent, responded to the YDN’s emailed survey.</p>
        <p>Neither The Crimson nor the YDN adjusted the results for any possible selection bias.</p>
        <p>The majority of freshmen respondents at Harvard and Yale consider themselves liberal.</p>
        <ul>
            <li>At Harvard, 65 percent of respondents said they were liberal, compared to 66 percent at Yale.</li>
            <li>A plurality (38 percent) of Yale freshman respondents said they supported Bernie Sanders, U.S. senator from Vermont, and his campaign for president, and 23 percent said they supported former U.S. Secretary of State Hillary R. Clinton.</li>
            <li>Four percent of Yale respondents said they supported former Florida Governor Jeb Bush’s run for president.</li>
        </ul>

        <p>The majority of freshmen respondents at both Harvard and Yale said they had tried alcohol before college.</p>
        <ul>
            <li>Seventy-one percent of Yale respondents said they had tried alcohol, compared to nearly 65 percent of Harvard respondents.</li>
        </ul>

        <p>Though the majority of respondents at Harvard and Yale said they had not had sex before coming to college, Harvard respondents are slightly more experienced in bed.</p>
        <ul>
            <li>About 38 percent of surveyed Harvard freshmen said they had sex before college, compared to 34 percent of surveyed Yale freshmen.</li>
            <li>But Yale freshmen are still hopeful—54 percent of respondents said they anticipated having sex while at Yale, and 81 percent of them said they anticipated having a romantic relationship while there.</li>
        </ul>

        <p>A comparable percentage of respondents at both schools said they had previously sought mental health counseling (17 percent at Harvard and 16 percent at Yale).</p>
        <p>And hoping to continue its eight-year year winning streak against Yale, Harvard freshman respondents predict the Game will end in their favor, reporting an average score estimate of 53-19.</p>

        <p>&mdash;Staff writer Meg P. Bernhard can be reached at meg.bernhard@thecrimson.com. Follow her on Twitter <a href="https://twitter.com/meg_bernhard">@meg_bernhard</a>.</p>
    </div>

{% endblock %}
