{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lifestyle.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}lifestyle/{% endblock %}
{% block narrative_link %}lifestyle-narrative/{% endblock %}
{% block yale_link %}lifestyle-yale/{% endblock %}

{% block nav_items %}
    <li>Religion</li>
    <li>Politics</li>
    <li>Sex</li>
    <li>Drugs</li>
    <li>Mental Health</li>
    <li>Technology</li>
{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2019_3.jpg">
{% endblock %}

{% block content %}
    <div class="intro scroll-row">
        <div id="subhead">Beliefs and Lifestyle</div>
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1209849/David__Freed/">David Freed</a>
            and
            <a href="www.thecrimson.com/writer/1209871/Idrees_M._Kahloon/">Idrees Kahloon</a>
        </p>
        <p>Part III of The Crimson’s survey of the Class of 2019 looks at the beliefs and lifestyles of the incoming freshmen. Almost two-thirds of the surveyed students are virgins, but respondents who took a gap year between high school and college were more likely to report having had sexual intercourse before arriving in Cambridge. Most have minimal experience with drugs and alcohol. A majority identify politically as at least somewhat liberal, but a plurality—45 percent—reported feeling unsure about whether their new school should divest its endowment from the fossil fuel industry, a raging debate on campus. Forty-one percent said they are “not confident at all” that the police treat white people and black people equally.</p>
        <p>Read Part III of The Crimson's three-part series on the freshman survey <a href="lifestyle-narrative/">here</a>.</p>

    </div>

    <div class="scroll-row">
        <h1>Religion</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#religion-tab" data-toggle="tab">Religion</a>
            </li>
            <li>
                <a href="#religiosity-tab" data-toggle="tab">Religiosity</a>
            </li>
            <li>
                <a href="#religion-region-tab" data-toggle="tab">Religion by Region</a>
            </li>
            <li>
                <a href="#religion-income-tab" data-toggle="tab">Religiosity by Income</a>
            </li>
            <li>
                <a href="#religion-race-tab" data-toggle="tab">Religion by Ethnicity</a>
            </li>
            <li>
                <a href="#religion-religion-tab" data-toggle="tab">Religiosity by Religion</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="religion-tab" class="active">
                <h2>Religion</h2>
                <div id="religion" class="graph"></div>
                <p></p>
            </li>
            <li id="religiosity-tab">
                <h2>Religiosity</h2>
                <div id="religiosity" class="graph"></div>
                <p></p>
            </li>
            <li id="religion-region-tab">
                <h2>Religion by Region</h2>
                <div id="religion-region" class="graph"></div>
                <p></p>
            </li>
            <li id="religion-income-tab">
                <h2>Religiosity by Income</h2>
                <div id="religion-income" class="graph"></div>
                <p></p>
            </li>
            <li id="religion-race-tab">
                <h2>Religion by Ethnicity</h2>
                <div id="religion-race" class="graph"></div>
                <p></p>
            </li>
            <li id="religion-religion-tab">
                <h2>Religiosity by Religion</h2>
                <div id="religion-religion" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_ATF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_300x250'); });
        </script>
    </div>

    <div class="scroll-row">
        <h1>Politics</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#politics-tab" data-toggle="tab">Political Persuasion</a>
            </li>
            <li>
                <a href="#regions-outer" data-toggle="tab">Regional Politics</a>
            </li>
            <li>
                <a href="#politics-religion-tab" data-toggle="tab">Politics by Religion</a>
            </li>
            <li>
                <a href="#politics-income-tab" data-toggle="tab">Politics by Parents' Income</a>
            </li>
            <li>
                <a href="#politics-sexuality-tab" data-toggle="tab">Politics by Sexual Orientation</a>
            </li>
            <li>
                <a href="#politics-ethnicity-tab" data-toggle="tab">Politics by Ethnicity</a>
            </li>
            <li>
                <a href="#politics-divestment-tab" data-toggle="tab">Fossil Fuel Divestment at Harvard</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="politics-tab" class="active">
                <h2>Political Persuasion</h2>
                <div id="politics"></div>
                <p></p>
            </li>
            <li id="regions-outer" class="clearfix">
                <div id="regions-inner">
                    <ul class="year-switch">
                        <div class="year-switch-option" data-year="">2017</div><div
                            class="year-switch-option" data-year="2018">2018</div><div
                            class="year-switch-option selected" data-year="2019">2019</div>
                    </ul>
                    <div id="paper">
                        <p></p>
                    </div>
                    <div id="regions-right">
                        <h2>Mouse over region to see data.</h2>
                        <div id="northeast" class="region">
                            <h3>
                                <div class="region-stat">62.8%</div>
                                of those from the Northeast identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">21.5%</div>
                                of those from the Northeast consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">15.7%</div>
                                of those from the Northeast identify as conservative.
                            </h3>
                        </div>
                        <div id="southeast" class="region">
                            <h3>
                                <div class="region-stat">56.8%</div>
                                of those from the Southeast identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">25.2%</div>
                                of those from the Southeast consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">18%</div>
                                of those from the Southeast identify as conservative.
                            </h3>
                        </div>
                        <div id="midwest" class="region">
                            <h3>
                                <div class="region-stat">54.9%</div>
                                of those from the Midwest identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">30.5%</div>
                                of those from the Midwest consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">14.6%</div>
                                of those from the Midwest identify as conservative.
                            </h3>
                        </div>
                        <div id="southwest" class="region">
                            <h3>
                                <div class="region-stat">51.2%</div>
                                of those from the Southwest identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">33.7%</div>
                                of those from the Southwest consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">15.1%</div>
                                of those from the Southwest identify as conservative.
                            </h3>
                        </div>
                        <div id="west" class="region">
                            <h3>
                                <div class="region-stat">68.8%</div>
                                of those from the West identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">21.2%</div>
                                of those from the West consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">10.0%</div>
                                of those from the West identify as conservative.
                            </h3>
                        </div>

                        <div id="northeast2018" class="region">
                            <h3>
                                <div class="region-stat">62.4%</div>
                                of those from the Northeast identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">22.8%</div>
                                of those from the Northeast consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">14.8%</div>
                                of those from the Northeast identify as conservative.
                            </h3>
                        </div>
                        <div id="southeast2018" class="region">
                            <h3>
                                <div class="region-stat">53.7%</div>
                                of those from the Southeast identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">24.0%</div>
                                of those from the Southeast consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">22.3%</div>
                                of those from the Southeast identify as conservative.
                            </h3>
                        </div>
                        <div id="midwest2018" class="region">
                            <h3>
                                <div class="region-stat">61.6%</div>
                                of those from the Midwest identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">22.4%</div>
                                of those from the Midwest consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">16.0%</div>
                                of those from the Midwest identify as conservative.
                            </h3>
                        </div>
                        <div id="southwest2018" class="region">
                            <h3>
                                <div class="region-stat">62.0%</div>
                                of those from the Southwest identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">25.3%</div>
                                of those from the Southwest consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">12.7%</div>
                                of those from the Southwest identify as conservative.
                            </h3>
                        </div>
                        <div id="west2018" class="region">
                            <h3>
                                <div class="region-stat">64.0%</div>
                                of those from the West identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">24.9%</div>
                                of those from the West consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">11.1%</div>
                                of those from the West identify as conservative.
                            </h3>
                        </div>
                        <div id="outside2018" class="region">
                            <h3>
                                <div class="region-stat">53.9%</div>
                                of those from outside the United States identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">25.0%</div>
                                of those from outside the United States consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">21.1%</div>
                                of those from outside the United States identify as conservative.
                            </h3>
                        </div>

                        <div id="northeast2019" class="region">
                            <h3>
                                <div class="region-stat">67.76%</div>
                                of those from the Northeast identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">20.19%</div>
                                of those from the Northeast consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">12.06%</div>
                                of those from the Northeast identify as conservative.
                            </h3>
                        </div>
                        <div id="southeast2019" class="region">
                            <h3>
                                <div class="region-stat">56.11%</div>
                                of those from the Southeast identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">25.9%</div>
                                of those from the Southeast consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">17.98%</div>
                                of those from the Southeast identify as conservative.
                            </h3>
                        </div>
                        <div id="midwest2019" class="region">
                            <h3>
                                <div class="region-stat">62.8%</div>
                                of those from the Midwest identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">21.9%</div>
                                of those from the Midwest consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">15.3%</div>
                                of those from the Midwest identify as conservative.
                            </h3>
                        </div>
                        <div id="southwest2019" class="region">
                            <h3>
                                <div class="region-stat">61.3%</div>
                                of those from the Southwest identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">28.7%</div>
                                of those from the Southwest consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">10.0%</div>
                                of those from the Southwest identify as conservative.
                            </h3>
                        </div>
                        <div id="west2019" class="region">
                            <h3>
                                <div class="region-stat">66.6%</div>
                                of those from the West identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">21.2%</div>
                                of those from the West consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">12.3%</div>
                                of those from the West identify as conservative.
                            </h3>
                        </div>
                        <div id="outside2019" class="region">
                            <h3>
                                <div class="region-stat">68.3%</div>
                                of those from outside the United States identify as liberal.
                            </h3>
                            <h3>
                                <div class="region-stat">26.2%</div>
                                of those from outside the United States consider themselves moderates.
                            </h3>
                            <h3>
                                <div class="region-stat">5.6%</div>
                                of those from outside the United States identify as conservative.
                            </h3>
                        </div>
                    </div>
                </div>
                <p></p>
            </li>
            <li id="politics-region-tab">
                <h2>Politics by Region</h2>
                <div id="politics-region" class="graph"></div>
                <p></p>
            </li>
            <li id="politics-religion-tab">
                <h2>Politics by Religion</h2>
                <div id="politics-religion" class="graph"></div>
                <p></p>
            </li>
            <li id="politics-income-tab">
                <h2>Politics by Parents' Income</h2>
                <div id="politics-income" class="graph"></div>
                <p></p>
            </li>
            <li id="politics-sexuality-tab">
                <h2>Politics by Sexual Orientation</h2>
                <div id="politics-sexuality" class="graph"></div>
                <p></p>
            </li>
            <li id="politics-ethnicity-tab">
                <h2>Politics by Ethnicity</h2>
                <div id="politics-ethnicity" class="graph"></div>
                <p></p>
            </li>
            <li id="politics-divestment-tab">
                <h2>Fossil Fuel Divestment at Harvard</h2>
                <div id="politics-divestment"></div>
                <p></p>
            </li>
        </ul>
    </div>
    <div class="scroll-row">
        <h1>Sex</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#sex-tab" data-toggle="tab">Sexual Activity</a>
            </li>
            <li>
                <a href="#sex-gender-tab" data-toggle="tab">Sexual Activity by Gender</a>
            </li>
            <li>
                <a href="#sex-final-clubs-tab" data-toggle="tab">Sexual Activity by Social Club Interest</a>
            </li>
            <li>
                <a href="#sex-gap-tab" data-toggle="tab">Sexual Activity by Gap Year Status</a>
            </li>
            <li>
                <a href="#sex-age-tab" data-toggle="tab">Age of First Sexual Activity</a>
            </li>
            <li>
                <a href="#sex-partners-tab" data-toggle="tab">Sexual Partners</a>
            </li>
            <li>
                <a href="#sex-religion-tab" data-toggle="tab">Sexual Activity by Religion</a>
            </li>
            <li>
                <a href="#sex-partners-athletes-tab" data-toggle="tab">Sexual Activity by Recruitment Status</a>
            </li>
            <li>
                <a href="#sex-orientation-tab" data-toggle="tab">Sexual Activity by Sexuality</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="sex-tab" class="active">
                <h2>Sexual Activity</h2>
                <div id="sex"></div>
                <p></p>
            </li>
            <li id="sex-gender-tab">
                <h2>Sexual Activity by Gender</h2>
                <div id="sex-gender" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-final-clubs-tab">
                <h2>Sexual Activity by Social Club Interest</h2>
                <div id="sex-final-clubs" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-gap-tab">
                <h2>Sexual Activity by Gap Year Status</h2>
                <div id="sex-gap" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-age-tab">
                <h2>Age of First Sexual Activity Among Non-Virgins</h2>
                <div id="sex-age" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-partners-tab">
                <h2>Sexual Partners</h2>
                <div id="sex-partners" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-religion-tab">
                <h2>Sexual Activity by Religion</h2>
                <div id="sex-religion" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-partners-athletes-tab">
                <h2>Sexual Activity by Recruitment Status</h2>
                <div id="sex-partners-athletes" class="graph"></div>
                <p></p>
            </li>
            <li id="sex-orientation-tab">
                <h2>Sexual Activity by Sexuality</h2>
                <div id="sex-orientation" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_300x250'); });
        </script>
    </div>

    <div class="scroll-row">
        <h1>Drugs</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#drugs-alcohol-tab" data-toggle="tab">Alcohol Drinkers</a>
            </li>
            <li>
                <a href="#drugs-weed-tab" data-toggle="tab">Marijuana Users</a>
            </li>
            <li>
                <a href="#drugs-hard-tab" data-toggle="tab">Hard Drug Users</a>
            </li>
            <li>
                <a href="#drugs-fake-tab" data-toggle="tab">Fake IDs</a>
            </li>
            <li>
                <a href="#drugs-fake-urban-tab" data-toggle="tab">Fake IDs by Type of Community</a>
            </li>
            <li>
                <a href="#drugs-gender-tab" data-toggle="tab">Drug Use by Gender</a>
            </li>
            <li>
                <a href="#drugs-school-type-tab" data-toggle="tab">Drug Use by School Type</a>
            </li>
            <li>
                <a href="#drugs-athletes-tab" data-toggle="tab">Drug Use by Recruitment Status</a>
            </li>
            <li>
                <a href="#drugs-religion-tab" data-toggle="tab">Drinkers by Religion</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="drugs-alcohol-tab" class="active">
                <h2>Alcohol Drinkers</h2>
                <div id="drugs-alcohol" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-weed-tab">
                <h2>Marijuana Users</h2>
                <div id="drugs-weed" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-hard-tab">
                <h2>Hard Drug Users</h2>
                <div id="drugs-hard" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-fake-tab">
                <h2>Fake IDs</h2>
                <div id="drugs-fake" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-fake-urban-tab">
                <h2>Fake IDs by Type of Community</h2>
                <div id="drugs-fake-urban" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-gender-tab">
                <h2>Drug Use by Gender</h2>
                <div id="drugs-gender" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-school-type-tab">
                <h2>Drug Use by Type of School</h2>
                <div id="drugs-school-type" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-athletes-tab">
                <h2>Drug Use by Recruitment Status</h2>
                <div id="drugs-athletes" class="graph"></div>
                <p></p>
            </li>
            <li id="drugs-religion-tab">
                <h2>Drinkers by Religion</h2>
                <div id="drugs-religion" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>
    <div class="scroll-row">
        <h1>Mental Health</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#mental-tab" data-toggle="tab">Mental Health Counseling</a>
            </li>
            <li>
                <a href="#mental-income-tab" data-toggle="tab">Mental Health Counseling by Parents' Income</a>
            </li>
            <li>
                <a href="#mental-sexuality-tab" data-toggle="tab">Mental Health Counseling by Sexuality</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="mental-tab" class="active">
                <h2>Mental Health Counseling</h2>
                <div id="mental" class="graph"></div>
                <p></p>
            </li>
            <li id="mental-income-tab">
                <h2>Mental Health Counseling by Parents' Income</h2>
                <div id="mental-income" class="graph"></div>
                <p></p>
            </li>
            <li id="mental-sexuality-tab">
                <h2>Mental Health Counseling by Sexuality</h2>
                <div id="mental-sexuality" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>
    <div class="scroll-row">
        <h1>Technology</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#computers-raw-tab" data-toggle="tab">Computers</a>
            </li>
            <li>
                <a href="#phone-type-tab" data-toggle="tab">Type of Phone</a>
            </li>
            <li>
                <a href="#income-mac-tab" data-toggle="tab">Income vs. Mac</a>
            </li>
            <li>
                <a href="#income-iphone-tab" data-toggle="tab">Income vs. iPhone</a>
            </li>
            <li>
                <a href="#facebook-tab" data-toggle="tab">Facebook Usage</a>
            </li>
            <li>
                <a href="#twitter-tab" data-toggle="tab">Twitter Usage</a>
            </li>
            <li>
                <a href="#snapchat-tab" data-toggle="tab">Snapchat Usage</a>
            </li>
            <li>
                <a href="#instagram-tab" data-toggle="tab">Instagram Usage</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="computers-raw-tab" class="active">
                <h2>Computers</h2>
                <div id="computers" class="graph"></div>
                <p></p>
            </li>
            <li id="phone-type-tab">
                <h2>Cell Phones</h2>
                <div id="phone-type" class="graph"></div>
                <p></p>
            </li>
            <li id="income-mac-tab">
                <h2>Mac Ownership by Parents&#39; Income</h2>
                <div id="income-mac" class="graph"></div>
                <p></p>
            </li>
            <li id="income-iphone-tab">
                <h2>iPhone Ownership by Parents&#39; Income</h2>
                <div id="income-iphone" class="graph"></div>
                <p></p>
            </li>
            <li id="facebook-tab">
                <h2>Facebook Usage</h2>
                <div id="facebook" class="graph"></div>
                <p></p>
            </li>
            <li id="twitter-tab">
                <h2>Twitter Usage</h2>
                <div id="twitter" class="graph"></div>
                <p></p>
            </li>
            <li id="snapchat-tab">
                <h2>Snapchat Usage</h2>
                <div id="snapchat" class="graph"></div>
                <p></p>
            </li>
            <li id="instagram-tab">
                <h2>Instagram Usage</h2>
                <div id="instagram" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>
{% endblock %}
