{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classmakeup.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/admissions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}makeup/{% endblock %}
{% block narrative_link %}makeup-narrative/{% endblock %}
{% block yale_link %}makeup-yale/{% endblock %}

{% block nav_items %}
    <li>Demographics</li>
    <li>Geography</li>
    <li>Employment</li>
    <li>The Application</li>
    <li>College Costs</li>
    <li>College Acceptances</li>
    <li>Athletics</li>
{% endblock %}

{% block content %}
    <div class="intro scroll-row">
        <div id="subhead">Makeup of the Class</div>
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1209849/David__Freed/">David Freed</a>
            and
            <a href="www.thecrimson.com/writer/1209871/Idrees_M._Kahloon/">Idrees Kahloon</a>
        </p>
        <p>Harvard College&rsquo;s Class of 2019 hails from a range of backgrounds racially, socioeconomically, and geographically, while at the same time remaining largely affluent overall. Sixteen percent of incoming freshmen surveyed by The Crimson in August, for example, have one or more parent who attended Harvard College, meaning they are considered legacies by the Admissions Office. Yet the same proportion of respondents reported that they are first-generation college students, meaning that their parents did not attend college at all. These respondents were more likely than their non-first-generation peers to hail from the West and receive financial aid from Harvard.</p>
        <p>The Crimson's survey of more than 70 percent of incoming freshmen asked the College&rsquo;s newest students about their backgrounds and expectations for life on campus. Read Part I of The Crimson's three-part series on the freshman survey <a href="makeup-narrative/">here</a>.</p> </div>
    <div class="scroll-row">
        <h1>Demographics</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#gender-tab" data-toggle="tab">Gender</a>
            </li>
            <li>
                <a href="#race-tab" data-toggle="tab">Ethnicity</a>
            </li>
            <li>
                <a href="#athletics-tab" data-toggle="tab">Athletes</a>
            </li>
            <li>
                <a href="#athletes-vs-income-tab" data-toggle="tab">Athletes' Family Incomes</a>
            </li>
            <li>
                <a href="#sexuality-tab" data-toggle="tab">Sexual Orientation</a>
            </li>
            <li>
                <a href="#birth-order-tab" data-toggle="tab">Birth Order</a>
            </li>
            <li>
                <a href="#school-type-tab" data-toggle="tab">Secondary School</a>
            </li>
            <li>
                <a href="#legacy-community-tab" data-toggle="tab">Legacy by Community</a>
            </li>
            <li>
                <a href="#legacy-income-tab" data-toggle="tab">Legacy by Income</a>
            </li>
            <li>
                <a href="#legacy-tab" data-toggle="tab">Legacy</a>
            </li>
            <li>
                <a href="#legacy-secondary-school-tab" data-toggle="tab">Legacy by Secondary School</a>
            </li>
            <li>
                <a href="#transgender-tab" data-toggle="tab">Gender Identity</a>
            </li>
            <li>
                <a href="#first-gen-tab" data-toggle="tab">First Generation</a>
            </li>
            <li>
                <a href="#first-gen-ethnicity-tab" data-toggle="tab">First Gen Ethnicity</a>
            </li>
            <li>
                <a href="#first-gen-financialaid-tab" data-toggle="tab">First Gen Financial Aid</a>
            </li>
            <li>
                <a href="#first-gen-income-tab" data-toggle="tab">First Gen Income</a>
            </li>
        {# &rsquo; #}
        </ul>
        <ul class="tab-panes">
            <li id="gender-tab" class="active">
                <h2>Gender</h2>
                <div id="gender" class="graph"></div>
                <p>Women made up a slight majority of freshman respondents; 51 percent of survey respondents are female and 48 percent are male. This offsets an opposite gender dynamic in the Class of 2018, in which 53 percent of members surveyed last year were male.</p>
            </li>
            <li id="race-tab">
                <h2>Ethnicity</h2>
                <div id="race" class="graph"></div>
                <p>Fifty-eight percent of respondents identify as white, compared to 62 percent of respondents to The Crimson&rsquo;s 2014 survey of the Class of 2018. About 30 percent of respondents identify as Asian or South Asian; just more than 12 percent as Hispanic or Latino; 11 percent as black or African American; 1 percent as American Indian or Alaskan Native; and 1 percent as Pacific Islander.</p>
            </li>
            <li id="athletics-tab">
                <h2>Athletics</h2>
                <div id="athletes-raw" class="graph"></div>
                <p>More than a fifth of students surveyed intend to play a varsity sport at Harvard. Over 12 percent of respondents were recruited varsity athletes, while roughly 8 percent intend to walk-on to one of the varsity sport teams. Harvard does not offer athletic scholarships to recruited athletes or give out merit scholarships of any kind. </p>
            </li>
            <li id="athletes-vs-income-tab">
                <h2>Recruited Athletes by Family Income</h2>
                <div id="athletes-vs-income" class="graph"></div>
                <p></p>
            </li>
            <li id="sexuality-tab">
                <h2>Sexuality</h2>
                <div id="sexual-orientation" class="graph"></div>
                <p>Eighty-six percent of surveyed freshmen in the Class of 2019 identify as heterosexual. Five percent identify as homosexual and 5 percent as bisexual, and 3 percent said they are questioning. Male survey respondents were more likely to identify as homosexual, while female respondents were more likely to identify as bisexual.</p>
            </li>
            <li id="birth-order-tab">
                <h2>Birth Order</h2>
                <div id="birth-order" class="graph"></div>
                <p></p>
            </li>
            <li id="school-type-tab">
                <h2>Secondary School</h2>
                <div id="school-type" class="graph"></div>
                <p>Before coming to Harvard, 63 percent of respondents attended public school, most of them non-charter, while 35 percent attended private school&mdash;26 percent non-denominational and 10 percent parochial.</p>
            </li>
            <li id="legacy-community-tab">
                <h2>Legacy by Community</h2>
                <div id="legacy-community" class="graph"></div>
                <p></p>
            </li>
            <li id="legacy-income-tab">
                <h2>Legacy by Family Income</h2>
                <div id="legacy-income" class="graph"></div>
                <p>Of respondents who reported a household income of less than $40,000, only one person said one or both of their parents attended the College. Of respondents who reported a household income of $500,000 or more, 43 percent said one or both of their parents did. Additionally, 41 percent of respondents who are legacies according to the College said their parents&rsquo; combined annual income is $500,000 or more.</p>
            </li>
            <li id="legacy-tab">
                <h2>Legacy</h2>
                <div id="legacy" class="graph"></div>
                <p>Sixteen percent of surveyed freshmen reported that one or more of their parents attended Harvard College, meaning they are considered legacies in the admissions process. More than a quarter of respondents&mdash;28 percent&mdash;said that they have a relative in their immediate or extended family who attended the College.</p>
            </li>
            <li id="legacy-secondary-school-tab">
                <h2>Legacy by Secondary School</h2>
                <div id="legacy-secondary-school" class="graph"></div>
                <p>Thirty-three percent of students who attended non-denominational private school reported that one or more of their parents attended the College, while roughly half of surveyed legacies reported attending a non-denominational private school.</p>
            </li>
            <li id="transgender-tab">
                <h2>Transgender Students</h2>
                <div id="transgender" class="graph"></div>
                <p>Six respondents, or about half a percent, in the Class of 2019 identify as transgender.</p>
            </li>
            <li id="first-gen-tab">
                <h2>First Generation Students</h2>
                <div id="first-gen" class="graph"></div>
                <p></p>
            </li>
            <li id="first-gen-ethnicity-tab">
                <h2>First Generation Student Ethnicity</h2>
                <div id="first-gen-ethnicity" class="graph"></div>
                <p></p>
            </li>
            <li id="first-gen-financialaid-tab">
                <h2>First Generation Students Receiving Financial Aid</h2>
                <div id="first-gen-financialaid" class="graph"></div>
                <p></p>
            </li>
            <li id="first-gen-income-tab">
                <h2>First Generation Students' Family Income</h2>
                <div id="first-gen-income" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_ATF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_300x250'); });
        </script>
    </div>

    <div class="scroll-row" id="regions">
        <h1>Geography</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#regions-outer" data-toggle="tab">Demographics</a>
            </li>
            <li>
                <a href="#urbanity-tab" data-toggle="tab">Community Type</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="regions-outer" class="active">
                <div id="regions-inner" class="clearfix">
                    <ul class="year-switch">
                        {# Spaceless #}
                        <div class="year-switch-option" data-year="">2017</div><div
                             class="year-switch-option" data-year="2018">2018</div><div
                             class="year-switch-option selected" data-year="2019">2019</div>
                    </ul>
                    <div id="paper">
                        <p>A plurality of Harvard&rsquo;s Class of 2019 hails from the Northeast, at 38 percent, a decrease from the 43 percent of last year&rsquo;s respondents. Nineteen percent of this year&rsquo;s freshman respondents are from the West, and 11 percent are international students.</p>
                    </div>
                    <div id="regions-right">
                        <h2>Mouse over region to see data.</h2>

                        <div id="northeast" class="region">
                            <h3>
                                <div class="region-stat">41.1%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">73.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">88.7%</div>
                                of students from the Northeast expect to return after graduating.
                            </h3>
                        </div>
                        <div id="southeast" class="region">
                            <h3>
                                <div class="region-stat">11.7%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">2.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">12.2%</div>
                                of students from the Southeast expect to return after graduating.
                            </h3>
                        </div>
                        <div id="midwest" class="region">
                            <h3>
                                <div class="region-stat">13.8%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.6%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">18.6%</div>
                                of students from the Midwest expect to return after graduating.
                            </h3>
                        </div>
                        <div id="southwest" class="region">
                            <h3>
                                <div class="region-stat">7.8%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">1.3%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">10.0%</div>
                                of students from the Southwest expect to return after graduating.
                            </h3>
                        </div>
                        <div id="west" class="region">
                            <h3>
                                <div class="region-stat">14.5%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">10.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">42.2%</div>
                                of students from the West expect to return after graduating.
                            </h3>
                        </div>

                        <div id="northeast2018" class="region">
                            <h3>
                                <div class="region-stat">43.1%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">70.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">34.7%</div>
                                of students from the Northeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southeast2018" class="region">
                            <h3>
                                <div class="region-stat">10.6%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">2.6%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">20.3%</div>
                                of students from the Southeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="midwest2018" class="region">
                            <h3>
                                <div class="region-stat">11.0%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.3%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">22.8%</div>
                                of students from the Midwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southwest2018" class="region">
                            <h3>
                                <div class="region-stat">6.8%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">21.8%</div>
                                of students from the Southwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="west2018" class="region">
                            <h3>
                                <div class="region-stat">16.9%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">14.2%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">24.6%</div>
                                of students from the West have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="outside2018" class="region">
                            <h3>
                                <div class="region-stat">11.6%</div>
                                of students are from outide the US.
                            </h3>
                            <h3>
                                <div class="region-stat">7.8%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">14.9%</div>
                                of students from outside the US have a relative that went to Harvard College.
                            </h3>
                        </div>

                        <div id="northeast2019" class="region">
                            <h3>
                                <div class="region-stat">38.3%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">70.8%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">35.9%</div>
                                of students from the Northeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southeast2019" class="region">
                            <h3>
                                <div class="region-stat">12.5%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">1.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">26.6%</div>
                                of students from the Southeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="midwest2019" class="region">
                            <h3>
                                <div class="region-stat">12.3%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">23.6%</div>
                                of students from the Midwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southwest2019" class="region">
                            <h3>
                                <div class="region-stat">7.0%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">1.1%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">13.6%</div>
                                of students from the Southwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="west2019" class="region">
                            <h3>
                                <div class="region-stat">18.5%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">13.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">28.6%</div>
                                of students from the West have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="outside2019" class="region">
                            <h3>
                                <div class="region-stat">11.2%</div>
                                of students are from outide the US.
                            </h3>
                            <h3>
                                <div class="region-stat">10.2%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">14.0%</div>
                                of students from outside the US have a relative that went to Harvard College.
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
            <li id="urbanity-tab">
                <h2>Community Type</h2>
                <div id="urbanity"></div>
                <p>Most surveyed students&mdash;63 percent&mdash;live in the suburbs. Just 9 percent of respondents are from rural areas.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_300x250'); });
        </script>
    </div>

    <div class="scroll-row" id="salary">
        <h1>Employment</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#starting-salary-tab" data-toggle="tab">Starting Salary</a>
            </li>
            <li>
                <a href="#starting-salary-vs-gender-tab" data-toggle="tab">Starting Salary by Gender</a>
            </li>
            {# <li>
                <a href="#sector-start-over-time-tab" data-toggle="tab">Field</a>
            </li> #}
            <li>
                <a href="#sector-start-by-gender-tab" data-toggle="tab">Field by Gender</a>
            </li>
            <li>
                <a href="#sector-start-by-school-type-tab" data-toggle="tab">Field by Secondary School</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="starting-salary-tab" class="active">
                <h2>Anticipated Starting Salary</h2>
                <div id="starting-salary" class="graph"></div>
                <p></p>
            </li>
            <li id="starting-salary-vs-gender-tab">
                <h2>Anticipated Starting Salary by Gender</h2>
                <div id="starting-salary-vs-gender" class="graph"></div>
                <p></p>
            </li>
            {# <li id="sector-start-over-time-tab">
                <h2>Comparison of Anticipated Employment Field Immediately After Graduation and Ten Years Out</h2>
                <div id="sector-start-over-time" class="graph"></div>
                <p>Many surveyed freshmen said they expect their immediate post-graduate job to be different from their career 10 years down the line. For example, while just 4 percent of surveyed freshmen said they plan to work in government or politics immediately after graduation, 13 percent of them said they anticipate doing so in 2028.</p>
            </li> #}
            <li id="sector-start-by-gender-tab">
                <h2>Anticipated Employment Field by Gender</h2>
                <div id="sector-start-by-gender" class="graph"></div>
                <p></p>
            </li>
            <li id="sector-start-by-school-type-tab">
                <h2>Anticipated Post-Graduate Occupation by Secondary School Type</h2>
                <div id="sector-start-by-school-type" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>

    <div class="scroll-row">
        <h1>The Application</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#sat-tab" data-toggle="tab">GPA vs. SAT Score</a>
            </li>
            <li>
                <a href="#sat-ethnicity-tab" data-toggle="tab">SAT by Ethnicity</a>
            </li>
            {# <li>
                <a href="#sat-income-tab" data-toggle="tab">SAT by Income</a>
            </li> #}
            <li>
                <a href="#sat-gender-tab" data-toggle="tab">SAT by Gender</a>
            </li>
            <li>
                <a href="#sat-school-type-tab" data-toggle="tab">SAT by School Type</a>
            </li>
            {# No data for class of 2019
            <li>
                <a href="#sat-legacy-tab" data-toggle="tab">SAT by Legacy</a>
            </li> #}
        </ul>
        <ul class="tab-panes">
            <li id="sat-tab" class="active">
                <h2>GPA vs. SAT Score</h2>
                <div class="scatter"><svg id="sat-gpa"></svg></div>
                <p></p>
            </li>
            <li id="sat-ethnicity-tab">
                <h2>Average SAT Scores by Ethnicity</h2>
                <div id="sat-ethnicity" class="graph"></div>
                <p>Respondents who identify as Asian, but not including South Asian, reported higher overall SAT scores on average, with an overall best score of 2300 out of a possible 2400. The average best overall SAT score reported by white respondents was 2218; 2174 for respondents who are Hispanic or Latino; and 2149 for respondents who are black or African American.</p>
            </li>
            {# <li id="sat-income-tab">
                <h2>Average SAT Scores by Income Bracket</h2>
                <div id="sat-income" class="graph"></div>
                <p>Respondents who came from households with an income of less than $40,000 a year on average had lower overall best SAT scores&mdash;about 2189 on average&mdash;than those who came from more affluent backgrounds. Respondents whose parents make $500,000 or more each year reported a best overall SAT score of 2239 on average.</p>
            </li> #}
            <li id="sat-gender-tab">
                <h2>Average SAT Scores by Gender</h2>
                <div id="sat-gender" class="graph"></div>
                <p>Female respondents reported slightly higher overall SAT scores on average than male respondents&mdash;2235 and about 2225, respectively.</p>
            </li>
            <li id="sat-school-type-tab">
                <h2>Average SAT Scores by School Type</h2>
                <div id="sat-school-type" class="graph"></div>
                <p>Surveyed students from private non-denominational schools reported slightly higher overall SAT scores&mdash;2250 on average&mdash;than students from public non-charter schools, who on average said they received 2225 on the test.</p>
            </li>
            <li id="sat-legacy-tab">
                <h2>Average SAT Scores by Legacy</h2>
                <div id="sat-legacy" class="graph"></div>
                <p>The average SAT score reported by legacy respondents was 2296, compared to a 2237 average for non-legacy students.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_ATF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_300x250'); });
        </script>
    </div>

    <div class="scroll-row">
        <h1>College Costs</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#financial-aid-tab" data-toggle="tab">Recipients</a>
            </li>
            <li>
                <a href="#parents-income-tab" data-toggle="tab">Family Income</a>
            </li>
            <li>
                <a href="#urbanity-aid-tab" data-toggle="tab">Community Type</a>
            </li>
            <li>
                <a href="#counselor-raw-tab" data-toggle="tab">Private Counseling</a>
            </li>
            <li>
                <a href="#income-counselor-tab" data-toggle="tab">Private Counseling by Income</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="financial-aid-tab" class="active">
                <h2>Harvard Financial Aid Recipients</h2>
                <div id="financial-aid" class="graph"></div>
                <p>About 56 percent of freshman respondents reported receiving financial aid from Harvard.</p>
            </li>
            <li id="parents-income-tab">
                <h2>Family Income Distribution</h2>
                <div id="parents-income" class="graph"></div>
                <p></p>
            </li>
            <li id="urbanity-aid-tab">
                <h2>Financial Aid by Community Type</h2>
                <div id="urbanity-aid" class="graph"></div>
                <p></p>
            </li>
            <li id="counselor-raw-tab">
                <h2>College Counseling</h2>
                <div id="counselor-raw" class="graph"></div>
                <p></p>
            </li>
            <li id="income-counselor-tab">
                <h2>Private Admissions Counseling by Income Bracket</h2>
                <div id="income-counselor" class="graph"></div>
                <p></p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_300x250'); });
        </script>
    </div>

    <div class="scroll-row">
        <h1>College Acceptances</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#application-numbers-tab" data-toggle="tab">Applications and Acceptances</a>
            </li>
            <li>
                <a href="#early-tab" data-toggle="tab">Early Action</a>
            </li>
            {# no data
            <li>
                <a href="#early-legacy-tab" data-toggle="tab">Legacy Admission</a>
            </li>
            <li>
                <a href="#legacy-ethnicity-tab" data-toggle="tab">Legacy Diversity</a>
            </li> #}
            <li>
                <a href="#top-choice-tab" data-toggle="tab">Top Choice</a>
            </li>
            <li>
                <a href="#top-choice-early-tab" data-toggle="tab">Early Action Top Choice</a>
            </li>
            <li>
                <a href="#early-income-tab" data-toggle="tab">Family Income</a>
            </li>
            <li>
                <a href="#early-school-type-tab" data-toggle="tab">Early Admission by School Type</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="application-numbers-tab" class="active">
                <h2>Applications and Acceptances</h2>
                <div class="scatter"><svg id="application-numbers"></svg></div>
                <p></p>
            </li>
            <li id="early-tab">
                <h2>Early Action</h2>
                <div id="early" class="graph"></div>
                <p>Fifty-five percent of surveyed freshman reported that they were admitted to Harvard through the College&rsquo;s single-choice early action program.</p>
            </li>
            <li id="early-legacy-tab">
                <h2>Legacy Admission</h2>
                <div id="early-legacy" class="graph"></div>
                <p></p>
            </li>
            <li id="legacy-ethnicity-tab">
                <h2>Legacy Diversity</h2>
                <div id="legacy-ethnicity" class="graph"></div>
                <p></p>
            </li>
            <li id="top-choice-tab">
                <h2>Was Harvard Your Top Choice?</h2>
                <div id="top-choice" class="graph"></div>
                <p></p>
            </li>
            <li id="top-choice-early-tab">
                <h2>Early Action Top Choice</h2>
                <div id="top-choice-early" class="graph"></div>
                <p></p>
            </li>
            <li id="early-income-tab">
                <h2>Early Admission by Income Bracket</h2>
                <div id="early-income" class="graph"></div>
                <p>The proportion of students who reported that they were accepted early to Harvard tended to increase with increases in income bracket.</p>
            </li>
            <li id="early-school-type-tab">
                <h2>Early Admission by School Type</h2>
                <div id="early-school-type" class="graph"></div>
                <p>Sixty percent of respondents admitted early come to Harvard from public high school and 39 percent from private school.</p>
            </li>
        </ul>
    </div>

    <div class="scroll-row">
        <h1>Athletics</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#athletes-raw-tab" data-toggle="tab">Numbers</a>
            </li>
            <li>
                <a href="#sat-athletes-tab" data-toggle="tab">SAT Scores</a>
            </li>
            <!-- <li> -->
            <!--     <a href="#income&#45;athletes&#45;tab" data&#45;toggle="tab">Family Income</a> -->
            <!-- </li> -->
        </ul>
        <ul class="tab-panes">
            <li id="athletes-raw-tab" class="active">
                <h2>Recruited Athletes</h2>
                <div id="athletes-raw-2" class="graph"></div>
                <p>More than a fifth of students surveyed intend to play a varsity sport at Harvard. Over 12 percent of respondents were recruited varsity athletes, while roughly 8 percent intend to walk-on to one of the varsity sport teams. Harvard does not offer athletic scholarships to recruited athletes or give out merit scholarships of any kind.</p>
            </li>
            <li id="sat-athletes-tab">
                <h2>SAT Scores by Recruitment Status</h2>
                <div id="sat-athletes" class="graph"></div>
                <p></p>
            </li>
            <!-- <li id="income&#45;athletes&#45;tab"> -->
            <!--     <h2>Recruited Athletes by Income Bracket</h2> -->
            <!--     <div id="income&#45;athletes" class="graph"></div> -->
            <!--     <p>Respondents from families with incomes under $80,000 were the least likely to be recruited athletes. Eight percent of students from those families reported that they were recruited athletes, while 15 percent of students from families that make over $80,000 said they had been recruited for athletics. </p> -->
            <!-- </li> -->
        </ul>
    </div>

{% endblock %}
