{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}`
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}makeup/{% endblock %}
{% block narrative_link %}makeup-narrative/{% endblock %}
{% block yale_link %}makeup-yale/{% endblock %}

{% block content %}
    <div id="subhead">Meet the Yalies</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="https://www.thecrimson.com/writer/1212766/Hannah__Natanson/">Hannah Natanson</a>
        </p>
      <p>Though their campuses may seem a world away from one another, the freshman classes at Harvard and Yale are markedly similar in makeup, according to surveys sent to the rival schools’ newest students. </p>

<p>In August, The Crimson and the Yale Daily News, Yale’s daily student newspaper, surveyed incoming freshmen at their respective universities on their upbringing, social life, and academic interests. Of the 1,657 students The Crimson emailed, 1,209 responded, representing roughly 73 percent of the class. And of 1,373 Yale freshmen the YDN emailed, 942—or 69 percent—responded.</p>

<p>Neither The Crimson nor the YDN adjusted for any selection bias.</p>

<p>A majority, or about 59 percent, of Yale freshman respondents said they attended public high schools, most of them non-charter, compared to about 63 percent of Harvard respondents. Of Yale students surveyed, about 40 percent said they attended private school, compared to about 36 percent of Harvard students.</p>

<p>Compared to Yale, a larger percentage of Harvard respondents reported having one or both of their parents attend Harvard; about 15 percent compared to about 11 percent of Yale freshman respondents. </p>

<p>A slightly higher percentage of Harvard freshman respondents (57 percent) said they receive financial aid than did Yale freshman respondents (52 percent). Of Yale freshman respondents on financial aid, roughly 75 percent said they were satisfied with their financial aid award.</p>

<ul>
<li>At Harvard, male students comprise the majority, or 50.2 percent, of survey respondents. By contrast, female students comprise the majority (51.7 percent) of Yale respondents. </li>
<li>The majority of freshmen respondents at both schools—56 percent and about 59 percent at Harvard and Yale, respectively—are white or Caucasian. </li>
<li>Of Yale student respondents, 14 percent are Latino or Hispanic-American, about 12 percent are African, Afro-Caribbean, or African-American, and about 20 percent identify as East Asian or Asian-American.</li>
<li>A plurality of students surveyed at Harvard and Yale—approximately 4o percent of both incoming classes—said they hail from the Northeast.At both Harvard and Yale, a majority of surveyed students reported growing up in a suburban community—61 percent and 59 percent, respectively. Of Harvard freshmen surveyed, 31 percent said they come from an urban community, compared to 33 percent at Yale.</li>
</ul>

        <p>&mdash;Staff writer Hannah Natanson can be reached at hannah.natanson@thecrimson.com.</p>
    </div>

{% endblock %}
