{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}academics/{% endblock %}
{% block narrative_link %}academics-narrative/{% endblock %}
{% block yale_link %}academics-yale/{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2019_2.jpg">
{% endblock %}

{% block content %}
    <div id="subhead">Harvard and Yale, in the Classroom and Out</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1210595/Meg_P._Bernhard/">Meg P. Bernhard</a>
        </p>
        <p>Surveyed Harvard freshmen are considerably more interested in joining social organizations than their counterparts at Yale, according to polls of both schools&rsquo; freshman classes.</p>
        <p>While 42 percent of Harvard&rsquo;s respondents indicated interest in joining a final club, sorority, or fraternity while at the College, only 14 percent of surveyed freshmen Yalies said they wanted to participate in Greek life there.</p>
        <p>The Crimson emailed its annual survey to all members of the Class of 2019. Of the 1,665 students, 1,184, more than 70 percent of the class, responded to the survey.</p>
        <p>The Yale Daily News, Yale&rsquo;s daily student newspaper, emailed its survey to all incoming Yale freshmen. Of 1,364 incoming Yale freshmen, 853, or 63 percent, responded.</p>
        <p>Neither The Crimson nor the YDN adjusted for any possible selection bias.</p>
        <p>At a time when academic integrity is at the forefront of the College, 23 percent of surveyed Harvard freshmen said they had previously cheated in an academic context. Similarly, 25 percent of respondents at Yale said they, too, had cheated academically.</p>
        <p>Nearly half of respondents to the survey sent to Yale freshmen indicated that they wanted to major in science, technology, engineering, and mathematics, or STEM, fields, a comparable figure to respondents at Harvard. The surveyed freshmen from the two schools notably differ in their interest in studying the social sciences.</p>
        <ul>
            <li>Forty-eight percent of Yale respondents said they would want to study STEM majors (compared to 39 percent last year), while 17 percent were interested in social sciences, 13 percent were interested in humanities, and 22 percent were undecided.
            </li>
        </ul>
        <p>A plurality of surveyed Harvard freshmen, on the other hand, are interested in concentrating in the social sciences division, favoring particularly large departments like Government and Economics.</p>
        <ul>
            <li>Thirty-six percent of Harvard respondents wanted to concentrate in social science, 30 percent were interested in science, 21 percent were interested in engineering and applied sciences, 12 percent were interested in the arts and humanities, and 6.5 percent chose “other.”
            </li>
        </ul>
        <p>&mdash;Staff writer Meg P. Bernhard can be reached at meg.bernhard@thecrimson.com. Follow her on Twitter <a href="https://twitter.com/meg_bernhard">@meg_bernhard</a>.</p>
    </div>

{% endblock %}
