{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}academics/{% endblock %}
{% block narrative_link %}academics-narrative/{% endblock %}
{% block yale_link %}academics-yale/{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2020.jpg">
{% endblock %}

{% block content %}
    <div id="subhead">Harvard and Yale, In the Classroom and Out</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="https://www.thecrimson.com/writer/1212626/Derek_G._Xiao/">Derek G. Xiao</a>
        </p>
      </p>  <p>Harvard freshmen are still more interested in joining social organizations than their counterparts at Yale, according to surveys of both schools’ freshman classes.</p>

<p>About 37 percent of surveyed members of Harvard’s Class of 2020 indicated they are “interested” or “very interested” in participating in a final club, sorority, or fraternity while at the College—down from 42 percent <a href="http://features.thecrimson.com/2015/freshman-survey/academics-narrative/">last year</a>. Meanwhile, surveyed members of Yale’s freshman class expressed more interest in Greek life than did last year’s freshmen. Twenty-seven percent of respondents said they are very or somewhat interested in participating—almost double the percentage of respondents who said the same last year (14 percent). </p>

<p>Social organizations at both Harvard and Yale came under national scrutiny last year. Harvard’s <a href="http://www.thecrimson.com/topic/Harvard-final-clubs/">new policy</a> banning members of unrecognized single-gender organizations, starting with the Class of 2021, from holding leadership positions in recognized clubs or receiving the College’s endorsement for top fellowships has drawn criticism—though some Harvard alumni and coaches have endorsed the policy. 
</p> 
<p>Yale’s fraternities likewise faced criticism last November when a Sigma Alpha Epsilon brother allegedly turned away dark-skinned students from a ‘white girls only’ party. 
</p> 
<p>The Crimson emailed its annual survey to all members of the Class of 2020. Of the 1,657 students emailed, 1,209—73 percent—responded to the survey</p>.
<p> 
The Yale Daily News, Yale’s daily student newspaper, garnered a 69 percent response rate; of the 1,373 freshmen the YDN emailed, 942 responded. 
</p> 
<p>Neither The Crimson nor the YDN adjusted for any possible selection bias.</p>

<p>About 21 percent of surveyed Yale freshmen admitted to cheating in an academic context, compared to roughly 19 percent of Harvard respondents.</p>   
 <ul>
<li>A plurality—43 percent—of Yale freshmen respondents said they intend to pursue a degree in the fields of science, technology, engineering and mathematics, or STEM. About 19 percent of surveyed Yale freshmen were undecided, but of those who had decided.</li>
<li>Twenty-four percent of polled Yale freshmen are interested in social sciences, and 13 percent are interested in the arts and humanities.</li>
<li>A plurality—33 percent—of Harvard respondents said they are interested in the social sciences. </li>
<li>Thirty percent of Harvard respondents are interested in the Sciences Division, 25 percent in the engineering and applied science and 12 percent in the arts and humanities. </li>
 </ul>

<p> 
While a similar percentage of respondents to both The Crimson and the YDN’s polls were recruited athletes, a higher percentage of Harvard recruits said they were “likely” or “very likely” to play for all four years.</p>

<p>Ten percent of respondents to the Harvard survey said they were recruited athletes, comparable to 11 percent of surveyed Yale freshmen.
Of these athletes, 93 percent of Harvard recruits said they were “likely” or “very likely” to play all four years. Eighty-three percent of polled Yale recruits said the same.</p>

        <p>&mdash;Staff Writer Derek G. Xiao can be reached at derek.xiao@thecrimson.com. Follow him on Twitter <a href="https://twitter.com/derekgxiao">@derekgxiao</a>.</p>
    </div>

{% endblock %}
