{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/academics.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}academics/{% endblock %}
{% block narrative_link %}academics-narrative/{% endblock %}
{% block yale_link %}academics-yale/{% endblock %}

{% block nav_items_narrative %}
    <li>Hitting the Books</li>
    <li>Academic Integrity</li>
    <li>Social Life</li>
    <li>Outside the Yard and on the Field</li>
    <li>Time Away from Harvard</li>
{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2020.jpg">
{% endblock %}

{% block content %}
<style>
ul.year-switch{
    display: none !important;
}
</style>
    <div id="subhead">Academics and Extracurriculars</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="https://www.thecrimson.com/writer/1212688/Ifeoluwa_T._Obayan/">Ifeoluwa T. Obayan</a>
            and
            <a href="https://www.thecrimson.com/writer/1212689/Leah_S._Yared/">Leah S. Yared</a>
        </p>

<p>At a time when men outnumber women by roughly 2 to 1 in undergraduate computer science, one of the College’s most popular concentrations, Harvard has made an effort to <a href="http://www.thecrimson.com/article/2016/2/22/computer-science-department-gender-gap/">bridge</a> the gap and market the hard sciences to women.</p>

<p>But women still constitute less than half, or around 40 percent, of freshmen who said they are interested in a concentration within the School of Engineering and Applied Sciences, according to the results of a recent Crimson survey. That percentage is as slight increase from last year; thirty-seven percent of respondents from the Class of 2019 who were interested in SEAS were women.
</p> 
<p>Each year, The Crimson conducts a survey of the incoming freshman class, who are asked dozens of questions ranging from their academic interests to their social lives and political views. Of the 1,657 students emailed, 1,209 responded, representing roughly 73 percent of the class. The Crimson did not adjust the survey results for any possible selection bias. </p>

<p>This second installation of The Crimson’s three-part series on the Class of 2020 examines the students’ academic and extracurricular interests and their experiences cheating in high school.</p>

<p>SEAS—a highly touted Harvard school that last year received a <a href="http://www.thecrimson.com/article/2015/6/3/record-gift-paulson-seas/">historic</a> $400 million donation—has historically struggled to attract more women to its ranks.</p>

<p>Though SEAS has not generally seen gender parity in its concentrators, a little more than half of freshmen respondents interested in the Sciences Division—which includes concentrations such as Molecular and Cellular Biology, Neurobiology, and Chemistry—are female. </p>

<p>The Crimson’s survey of the Class of 2020 was distributed through email and was open for responses on Aug. 8. It closed on Aug. 25.</p>

        <p class="scroll-row"><strong>Hitting the Books</strong></p>
        <br>
<div id="concentration-raw-tab">
                <h2>Anticipated Concentrations</h2>
                <div id="concentration-raw" class="graph"></div>
            </div>
</br>
<p>Economics is the most popular concentration among incoming freshmen, followed by government and computer science—the same as last year, according to the Class of 2019 survey. In total, nearly a third of respondents said they want to pursue either of these three concentrations. </p>

<p>Social Science is the most popular academic division, with 33 percent of respondents reporting interest that field. Respondents are next most interested in the Sciences Division (30 percent) and engineering and applied science (25 percent). About 12 percent of survey respondents are interested in the arts and humanities. Sixteen respondents said they were interested in the College’s newest concentration, <a href="http://www.thecrimson.com/article/2014/10/20/fas-offer-theater-concentration/">Theatre, Dance, and Media</a>—an increase of four people from last year’s class.</p>
<ul>
<li>
Three quarters of freshmen respondents planning to concentrate in applied mathematics come from families that fall within that income bracket, as do 64 percent of respondents interested in studying computer science.</li>
<li>Twenty-nine percent of respondents interested in neurobiology have parents with a combined annual income of under $40,000. 
</li>
</ul>

<p>Applied mathematics has the largest gender disparity among the top five most popular concentrations. Male respondents were more than twice as likely as female respondents to indicate an interest in studying applied mathematics. Forty-nine men—or 72 percent— are interested compared to 19 women. </p>
<ul>
<li>Ninety-seven male respondents indicated they are interested in studying economics, compared to 52 women, comprising about 65 percent of students interested in the concentration. </li>
<li>Sixty-three men and 36 women who responded to the survey said they plan to concentrate in computer science, the third most popular concentration among incoming freshmen. Men comprise 63 percent of people interested in computer science.</li>
</ul>



        <p class="scroll-row"><strong>Academic Integrity</strong></p>
   <br>    
<div id="exam-cheaters-tab" class="active">
                <h2>Cheating on an Exam</h2>
                <div id="exam-cheaters" class="graph"></div>
            </div>
            </br>
<p>The percentage of freshman respondents who admitted to cheating in an academic context prior to college decreased slightly from last year; nineteen percent of the Class of 2020 respondents reported cheating academically, compared to 23 percent of surveyed members of the Class of 2019. The change comes a  year after Harvard <a href="http://www.thecrimson.com/article/2015/9/2/college-launches-honor-code/">rolled out</a> a highly-lauded Honor Code—and four years after revelations of the College's <a href="http://www.thecrimson.com/article/2012/8/30/academic-dishonesty-ad-board/">largest cheating case</a> surfaced.</p>
<ul>
<li>Of respondents who admitted to cheating, 89 percent cheated on a problem set or homework assignment, 46 percent cheated on a paper or take-home assignment, and 44 percent cheated on an exam.</li>
<li>The majority—67 percent—of respondents who admitted to cheating in an academic context are male. </li>
<li>Roughly 15 percent of respondents who are recruited athletes reported cheating, compared to 19 percent of other students. For the class of 2019, these numbers were reversed and athletes were more likely to report cheating on academic work. </li>
<li>About 83 percent of respondents who studied 50 or more hours a week in high school say that their own expectations for themselves are their “greatest” source of pressure.</li> 
</ul>
        <p class="scroll-row"><strong>Social Life</strong></p>
        <br>
<div id="greek-tab">
                <h2>Frats, Sororities, and Final Clubs</h2>
                <div id="greek" class="graph"></div>
                <p></p>
            </div><br>
<p>Nearly 60 percent of respondents said they were “not at all” or “not very” interested in joining a final club, sorority, or fraternity. The freshmen matriculate months after Harvard announced a new policy penalizing future members of single gender social organizations starting with the Class of 2021.</p>
<ul>
<li>The majority—60 percent—of those surveyed who are “very interested” in joining a final club, sorority, or fraternity are male. </li>
<li>A little over three quarters (77 percent) of respondents who indicated they were “very interested” in joining these groups come from families whose combined annual income totals $125,000 or more. </li>
<li>A plurality of freshmen “very interested” in fraternities, sororities, and final clubs come from families that earn $500,000 annually or more—the highest income bracket. </li>
<li>About 60 percent of respondents “very interested” in joining final clubs, sororities, and fraternities attended a private high school; thirty-five percent of all respondents attended a private high school.</li>
<li>Nearly three quarters of respondents who are “very interested” in joining a final club, sorority, or fraternity are white. </li>
</ul>


        <p class="scroll-row"><strong>Outside the Yard and on the Field</strong></p>
        <br>
        <div id="athletes-raw-tab" class="active">
                <h2>Athletes at Harvard</h2>
                <div id="athletes-raw"></div>
            
            </div><br>

<p>Just over 10 percent of freshmen respondents are recruited athletes, while 8 percent indicated they intend to walk onto a varsity sports team. Like their sophomore counterparts who completed The Crimson’s survey last year, men are about twice as likely as women to walk onto a team. A majority of respondents who plan to walk on—68 percent—are white.</p>

<ul>
<li>Seventy-five percent of respondents coming to Harvard as recruited athletes have parents with an annual combined income of $125,000 or more. </li>
<li>The majority of recruited athletes (55 percent) who responded to the survey first made contact with a Harvard coach in their junior year of high school.</li>
<li>Well over half of respondents who are recruited athletes showed interest in Harvard’s off-campus social scene, with about 62 percent “very interested” or “somewhat interested” in becoming involved with a final club, sorority, or fraternity. </li>
</ul>

<p>
Before coming to Harvard, many students hold leadership positions in high school extracurriculars—and this year’s incoming class is no different. Twelve percent of surveyed freshmen were editor-in-chief (or the equivalent role) of their high school newspaper, and roughly 18 percent were president (or the equivalent role) of their high school student government.</p>

<ul>
<li>Sixty-three percent of respondents who were editor-in-chief in high school are female. </li>
<li>Sixty-one percent of freshmen who were president of their high school student government association are male.</li>
<li>The majority of respondents who participated in internships before college—both paid and unpaid—came from urban or suburban areas, while 64 percent of those who came from a rural community did not participate in an internship.</li>
</ul>

<p>Before freshmen move-in and the start of Opening Days, members of the Class of 2020 had the opportunity to interact with their future classmates by participating in a pre-orientation program. Each of the five possible programs to which they could apply have a different focus, and there was a significant relationship between income and the participants of the First-Year Outdoor Program (FOP), which takes students on a weeklong hiking or canoeing trip in New England. The program has <a href="http://www.thecrimson.com/article/2015/12/11/fop-diversity-financial-aid/">historically struggled</a> to attract diverse members of the incoming freshman class, and FOP’s leaders have sought to develop solutions. </p>

<ul>
<li>Sixty-seven percent of freshman respondents that participated in the FOP said their parents have a combined annual income of at least $125,000.</li>
<li>In contrast, more than a half (51 percent) of freshman respondents that participated in Fall Clean-Up with dorm crew said their parents have a combined income of less than $125,000, with 32 percent reporting that their parents had a combined income of less than $80,000. </li>

<p class="scroll-row"><strong>Time Away from Harvard</strong></p>
        <p>About eight percent of respondents took a gap year between high  school and college, the same as last year. Although many make this decision voluntarily, almost half of all gap year participants were asked by Harvard to defer their admission, suggesting they may be members of the Admissions Office’s are “<a href="http://www.thecrimson.com/article/2010/3/30/students-year-harvard-zlist/">Z-list</a>.” </p>
<ul>
<li>Fifty-three percent of respondents who took a gap year come from families with a combined income of at least $125,000. A quarter of gap year participants who responded to the survey have parents whose combined incomes amount to at least $500,000.</li>
<li>Of respondents who took a gap year, roughly 45 percent had their admission deferred by Harvard.</li>
<li>Thirty-eight percent of surveyed students whose admission was deferred by Harvard have parents who earn a combined income of $500,000 or more.</li>
<li>Sixty-three percent of respondents who  chose to take a gap year are men; thirty-six percent were women. </li>
</ul>


        <p>&mdash;Staff writer Leah S. Yared can be reached at leah.yared@thecrimson.com.</p>
        <p>&mdash;Staff writer Ifeoluwa T. Obayan can be reached at ifeoluwa.obayan@thecrimson.com.</p>
    </div>

{% endblock %}
