{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}`
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}lifestyle/{% endblock %}
{% block narrative_link %}lifestyle-narrative/{% endblock %}
{% block yale_link %}lifestyle-yale/{% endblock %}

{% block nav_items_narrative %}
    <li>Politics</li>
    <li>Policies at Harvard</li>
    <li>Sex and Drugs</li>
    <li>Technology</li>
{% endblock %}

{% block cover_image %}
    <img class="full-width" src="img/cover_2020.jpg">
{% endblock %}

{% block content %}
    <div id="subhead">Beliefs and Lifestyle</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1211650/C.%20Ramsey__Fahs/">C. Ramsey Fahs</a>
            and
            <a href="http://www.thecrimson.com/writer/1212676/Mia_C._Karr/">Mia C. Karr</a>
        </p>

<p>Harvard’s unprecedented decision to <a href="http://www.thecrimson.com/article/2016/5/6/college-sanctions-clubs-greeklife/">penalize</a> members of single-gender social organizations did not enjoy a smooth reception with the Class of 2020—41 percent of respondents, a plurality, said they had an unfavorable view of the new policy. Freshmen who were wealthy or white, demographic traits often associated with social club involvement, are more likely to oppose the controversial sanctions than their peers. </p>

<p>In their belief and lifestyle preferences, the Class of 2020 looks much like its predecessors, with the majority of participants classifying themselves as liberal, non-religious, and virgin. </p>

<p>In the case of the single-gender sanctions, however, the first incoming class since the the policy was announced is more divided. Male respondents were more likely to hold an unfavorable view of the the new policy, and about 40 percent of freshmen reported no opinion at all on the policy or insufficient information to form one.</p>

<p>Each year, The Crimson conducts a survey of the incoming freshman class, who are asked dozens of questions ranging from their academic interests to their social lives and political views. Of the 1,657 students emailed, 1,209 responded, representing roughly 73 percent of the class. The Crimson did not adjust the survey results for any possible selection bias.</p>

<p>The last installment of The Crimson’s three-part on series the Class of 2020 takes a look at the beliefs and lifestyle choices of Harvard’s newest class.</p>

<p>In addition, the story examines the class’s political leanings in the midst of one of the most contentious presidential elections in recent history. The Class of 2020 holds an overwhelmingly unfavorable view of Donald J. Trump, with the New York real estate mogul polling below independent candidate Gary E. Johnson among this year’s freshmen. </p>

<p>The Crimson’s survey opened on Aug.8 and ran through Aug. 25. </p>

        <p class="scroll-row"><strong>Politics</strong></p>
        <p>Though Trump may be unpopular among Harvard freshmen, 14 percent of respondents said they would vote for either Green Party candidate Jill Stein or Johnson rather than Democratic nominee Hillary R. Clinton were the election held today. Roughly 80 percent of surveyed Harvard freshmen said they would  vote for Clinton if the elections were held today—though only 56 percent of respondents found her favorable. By comparison, 77 percent of polled Harvard students said in a <a href="http://www.thecrimson.com/article/2012/11/5/crimson-presidential-poll-2012/">2012 Crimson straw poll</a> they would vote for President Barack Obama over then-Republican nominee Mitt Romney.</p>
        <ul>
         <li>Seven percent of respondents said they have a favorable view of Trump; six percent said they would vote for him if the election were held today.</li>
<li>All 33 Muslim respondents said they have an unfavorable opinion of Trump. </li>
<li>Mirroring national trends, Clinton found support among Harvard respondents identifying as black or African American, 60 percent of whom who said they hold a “favorable” opinion—the highest rate among surveyed ethnic groups.  Asian respondents were close behind with a 58 percent favorable opinion of Clinton.</li>
<li>Female respondents reported viewing Hillary Clinton more favorably than did male respondents—62 percent percent compared to 51 percent. There was not a significant difference in support for Trump among genders</li>
        </ul>
<p>
In early August, the <a href="http://www.thecrimson.com/article/2016/8/5/republican-club-not-support-trump/">Harvard Republican Club</a>, as well as conservative Harvard economist <a href="http://www.thecrimson.com/article/2016/8/11/mankiw-no-vote-trump/">N. Gregory Mankiw</a>, chose not to endorse their party’s candidate. Republicans in the Class of 2020, though viewing him unfavorably, said generally they would vote for  him.
</p>
<ul>
<li>Nearly half of surveyed students identifying as “strong Republicans” said they view Trump unfavorably. However, a majority of strong Republicans surveyed also said they would vote for him if the election were held today. A plurality—43 percent—of students identifying as a “not a very strong Republican” indicated they would vote for Johnson; twenty-four percent of that group said they would vote for Trump.
</li>
<li>Of respondents who said they are recruited athletes, 22 percent describe their political beliefs as “somewhat” or “very” conservative, compared with 12 percent for non-recruited athletes.</li>
</ul>

<p>Forty percent of surveyed freshmen said they hold an unfavorable view of American response to terrorist threats in the Middle East—a plurality. Twelve percent said they find America’s response favorable, 12 percent had no opinion, and 35 percent of respondents did not have enough information. </p>

<p>A slight majority—51 percent—of freshman respondents said they were in favor of legalizing marijuana, compared to 17 percent who said such realization would be unfavorable. </p>

<p>More than three-quarters of surveyed freshmen said they were either “not so confident” or “not confident at all” that police in America treat white and black people equally. The summer was marked by protest and outrage at instances of police killings of black men in Louisiana and Minnesota.</p>

        <p class="scroll-row"><strong>Policies at Harvard</strong></p>
       <p>Roughly a quarter of surveyed freshmen reported a less favorable view of the Harvard administration as a result of their new policy penalizing involvement in single-gender groups—which came at the close of an academic year characterized by a <a href="http://www.thecrimson.com/article/2016/5/26/behind-closed-doors-clubs/">sometimes-acrimonious back and forth</a> between Harvard and those organizations. Twenty percent, though, held Harvard administrators in higher esteem after they announced  the policy, while 36 percent—a plurality—said the policy did not impact their opinion. </p>

<p>Around 25 percent of surveyed freshmen also said they viewed single-gender social organizations unfavorably as a result of the policy. About five percent thought better of the groups in light of the sanctions, while 55 percent of respondents reported the policy made no difference on their view of the organizations. </p>

<p>Fifty-nine percent of graduating seniors who participated in the Crimson’s senior survey of the Class of 2016 last spring  reported an unfavorable view of final clubs.</p>  
<ul>
<li>Respondents who self-identified as white are more opposed to the administration’s policy than any other ethnic group, at 46 percent. Black and African American  respondents are the ethnic group the next most opposes the policy, at 36 percent.</li>
<li>South Asian respondents were the most in favor of  the sanctions with 30 percent reporting a positive view of the sanctions. Still, no ethnic group had more students in favor of the policy than opposed to it. </li>
<li>Sixty-three percent of recruited athletes reported an unfavorable view of the new policy, with 40percent of that group saying that the policy made them view the administration less favorably.</li>
 </ul>

<p>More than three quarters of female freshman respondents said they had previously worried about sexual assault while in college, compared to 14 percent of males. The Class  matriculated to Harvard after a year in which the University redoubled its efforts to prevent sexual assault on campus. Ultimately a University-wide taskforce released a <a href="http://www.thecrimson.com/article/2016/3/9/sexual-assault-prevention-report/?utm_source=thecrimson&utm_medium=web_primary&utm_campaign=recommend_sidebar">set of recommendations</a> in the spring on how to prevent on campus sexual assault.</p>

<ul><li>Thirty-two percent of surveyed females and 12 percent of surveyed males said they took into consideration Harvard policies and the culture surrounding sexual assault when choosing whether to attend. </li></ul>

<p>Last year, a lawsuit alleging the University discriminates against applicants on the basis of race was put on  hold as the Supreme Court heard a similar case, Fisher vs. University of Texas at Austin. This summer, the Court <a href="http://www.thecrimson.com/article/2016/6/29/admissions-lawsuit-news-analysis/">upheld</a> race-conscious admissions policies. </p>

<ul><li>A plurality (44 percent) of freshman respondents said they were in favor of race-based affirmative action, 20 percent said they found the policy unfavorable, and 18 percent said they had no opinion.</li></ul>





        <p class="scroll-row"><strong>Sex and Drugs</strong></p>
        <p>For the fourth year in a row, a majority of freshman respondents said they were virgins. The percentage of virgins in the Class of 2020—64—is roughly the same as in the Class of 2019 (62 percent).</p>
<ul>
<li>Similar to the Class of 2019, more male respondents than female respondents said they had sex before college. Fifty-six percent of males and 73 percent of females indicated they are virgins.</li>
<li>Recruited athletes reported having experienced more sexual activity than their peers; fifty-three percent of respondents in that group have had sex before college.</li>
<li>The more religious a respondent reported being (on a scale from “not at all religious” to “extremely religious”) the more likely they were to say they are a virgin. 
</li> <li>The most religious surveyed students were also the most likely to report that they never use alcohol or marijuana. </li>
<li>Respondents who come from a family making at least $500,000 annually generally reported higher rates of alcohol use than their less affluent peers.</li>
<li>Male respondents also reported higher rates of alcohol use than female respondents.</li>
</ul>

        <p class="scroll-row"><strong>Technology</strong></p>
        <p>While Bill Gates may rank high among Harvard’s famous drop-outs, it is Apple, not Microsoft, that freshmen prefer for their technology needs. Seventy-two percent of respondents say they own a Mac, compared to just 26 percent who own a PC. Eighty-one percent of surveyed freshmen reported using an iPhone.</p>
<ul>
<li>Fifty-one percent of respondents with a combined family income of under $40,000 reported using a Mac, compared with 87 percent reporting a combined family income of over $500,000.</li>
<li>Ninety-eight percent of respondents reported using either an iPhone or an Android phone.</li>
<li>Four respondents reported having no cell phone. </li>
<li>Eighty-seven percent of responding freshmen reported using Snapchat, with 14 percent reporting spending over an hour a day on the service. </li>
<li>Ninety-five percent of recruited athletes reported owning an iPhone.</li></ul>

        <p>&mdash;Staff writer C. Ramsey Fahs can be reached at ramsey.fahs@thecrimson.com. Follow him on Twitter @ramseyfahs.</p>
        <p>&mdash;Staff writer Mia C. Karr can be reached at mia.karr@thecrimson.com. Follow her on Twitter @miackarr. </p>
    </div>

{% endblock %}
