{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}`
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/makeup-narrative.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}makeup/{% endblock %}
{% block narrative_link %}makeup-narrative/{% endblock %}
{% block yale_link %}makeup-yale/{% endblock %}

{% block nav_items_narrative %}
    <li>Who They Are</li>
    <li>Legacies and First Gens</li>
    <li>Getting In </li>
    <li>Paying</li>
{% endblock %}

{% block content %}
<style>
ul.year-switch{
    display: none !important;
}
</style>
<div id="subhead">Makeup of the Class</div>
<div id="narrative" class="intro scroll-row">
   <p id="byline">
      <i>By</i>
      <a href="https://www.thecrimson.com/writer/1211608/Ignacio__Sabate/">Ignacio Sabate</a>
   </p>

  <p> Nearly 16 percent of surveyed members of the Class of 2020 have parents whose combined annual income exceeds $500,000, according to a recent Crimson poll of the College’s newest class.</p>
<p>In comparison, about 15 percent of surveyed members of the class have parents whose combined income totals below $40,000.</p>
<br>
   <p>Each year, The Crimson conducts a survey of the incoming freshman class, who are asked dozens of questions ranging from their academic interests to their social lives and political views. Of the 1,657 students emailed, 1,209 responded, representing roughly 73 percent of the class. The Crimson did not adjust the survey results for any possible selection bias. </p>
   <p>This first installation of The Crimson’s three-part series on the Class of 2020 examines makeup of the College’s newest class, including the ethnicity, gender, and family and high school backgrounds of its members. In addition, the story examines topics related to freshmen’s financial aid and admission to the College. </p>
   <p>Members of the Class of 2020—largely white and heterosexual—matriculate nearly a year after Harvard was <a href='http://www.thecrimson.com/article/2016/2/25/fighting-time-scrutiny/'>roiled in debate</a> over the inclusion and treatment of minority students across the University. Amid campus discussion last November, the College released a <a href='http://www.thecrimson.com/article/2015/11/20/diversity-report-reform-released/'>37-page report</a> that called for wide-ranging student life reforms, emphasizing the need to “convey the institution’s commitment to cultures of inclusion and appreciation of diversity.” </p>
   <p>Results of The Crimson’s survey of the Class of 2020 demonstrate a relationship between reported ethnicity and family income bracket. Of surveyed students who identify as white, 20 percent have parents who make more than $500,000 each year. By contrast, about 13 percent of Asian respondents report coming from the same financial background, as do 8 percent of black and African American respondents, and 11 percent of Latino and Hispanic respondents.</p>
   <p>Slightly more than a quarter—roughly 29 percent—of Latino or Hispanic students surveyed come from families that make less than $40,000 annually. Nearly 20 percent of surveyed black or African American students and nearly 10 percent of surveyed white students come from families within the same income bracket. </p>
   <p>Surveyed students who come from less affluent backgrounds are more likely to be first-generation college students, which Harvard defines as students who are the first generation in their family to attend college. Nearly half of first-generation students come from families with combined incomes below $40,000 per year.</p>
   <p>Even more, nearly all, or 95 percent, of polled students whose families earn less than $40,000 per year did not have family members who attend or have graduated from Harvard College.</p>
   <p>Nearly 50 percent of students whose families earn more than $500,000 annually said they are legacy students. </p>
   <p>Of respondents interested in pursuing consulting directly after graduation, 30 percent—a plurality— fell in the $500,000 or over income bracket.</p>
   <p>The Crimson’s survey of the Class of 2020 was distributed through email and was open for responses on Aug. 8 . It closed on Aug. 25. </p>
   <br>
   <p class="scroll-row"><strong>Who They Are</strong></p>
        
 <p>
            <div id="race-tab">
                <h2>Class of 2020</h2>
                <div id="race" class="graph"></div>
            </div>
</p>

   <p>All told, the demographics of Harvard’s freshman class largely mirrors those of the Class of 2019, now sophomores. The majority of respondents to The Crimson’s survey are white and heterosexual, and a slightly larger percentage of respondents are male (50.2 percent of respondents, compared to 49.2 percent who said they are female). The remainder of respondents identify as transexual. </p>
   <p> Last year, a slightly larger percentage of respondents in the Class of 2019 were male. </p>
   <ul>
      <li>Fifty-six percent of the surveyed freshmen said they are white, while 27 percent identify as Asian, 13 percent as Hispanic or Latino, 11 percent as Black or African American, 6 percent as South Asian, and 0.6 percent as Pacific Islander. </li>
      <li>About 85 percent of surveyed students identify as heterosexual, 5 percent as homosexual, and roughly 6 percent as bisexual. Of the respondents, about 3 percent said they were questioning their sexual identity.</li>
      <li>The majority—82 percent—of people who indicated they identified as homosexual were male. </li>
      <li>Half of people who reported they identify as bisexual are females; males represent 45 percent of those who identify as bisexual.</li>
   </ul>
   <br>
<p>
<div id="regions-outer" class="active">
                <div id="regions-inner" class="clearfix">
                    <ul class="year-switch">
                        {# Spaceless #}
                        <div class="year-switch-option" data-year="">2017</div><div
                             class="year-switch-option" data-year="2018">2018</div><div
                             class="year-switch-option" data-year="2019">2019</div><div
                             class="year-switch-option selected" data-year="2020">2020</div>
                    </ul>
                    <div id="paper">
                    </div>
                    <div id="regions-right">
                        <h2>Mouse over region to see data.</h2>

                        <div id="northeast" class="region">
                            <h3>
                                <div class="region-stat">41.1%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">73.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">88.7%</div>
                                of students from the Northeast expect to return after graduating.
                            </h3>
                        </div>
                        <div id="southeast" class="region">
                            <h3>
                                <div class="region-stat">11.7%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">2.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">12.2%</div>
                                of students from the Southeast expect to return after graduating.
                            </h3>
                        </div>
                        <div id="midwest" class="region">
                            <h3>
                                <div class="region-stat">13.8%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.6%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">18.6%</div>
                                of students from the Midwest expect to return after graduating.
                            </h3>
                        </div>
                        <div id="southwest" class="region">
                            <h3>
                                <div class="region-stat">7.8%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">1.3%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">10.0%</div>
                                of students from the Southwest expect to return after graduating.
                            </h3>
                        </div>
                        <div id="west" class="region">
                            <h3>
                                <div class="region-stat">14.5%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">10.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">42.2%</div>
                                of students from the West expect to return after graduating.
                            </h3>
                        </div>

                        <div id="northeast2018" class="region">
                            <h3>
                                <div class="region-stat">43.1%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">70.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">34.7%</div>
                                of students from the Northeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southeast2018" class="region">
                            <h3>
                                <div class="region-stat">10.6%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">2.6%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">20.3%</div>
                                of students from the Southeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="midwest2018" class="region">
                            <h3>
                                <div class="region-stat">11.0%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.3%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">22.8%</div>
                                of students from the Midwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southwest2018" class="region">
                            <h3>
                                <div class="region-stat">6.8%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">21.8%</div>
                                of students from the Southwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="west2018" class="region">
                            <h3>
                                <div class="region-stat">16.9%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">14.2%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">24.6%</div>
                                of students from the West have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="outside2018" class="region">
                            <h3>
                                <div class="region-stat">11.6%</div>
                                of students are from outide the US.
                            </h3>
                            <h3>
                                <div class="region-stat">7.8%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">14.9%</div>
                                of students from outside the US have a relative that went to Harvard College.
                            </h3>
                        </div>

                        <div id="northeast2019" class="region">
                            <h3>
                                <div class="region-stat">38.3%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">70.8%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">35.9%</div>
                                of students from the Northeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southeast2019" class="region">
                            <h3>
                                <div class="region-stat">12.5%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">1.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">26.6%</div>
                                of students from the Southeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="midwest2019" class="region">
                            <h3>
                                <div class="region-stat">12.3%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">23.6%</div>
                                of students from the Midwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southwest2019" class="region">
                            <h3>
                                <div class="region-stat">7.0%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">1.1%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">13.6%</div>
                                of students from the Southwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="west2019" class="region">
                            <h3>
                                <div class="region-stat">18.5%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">13.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">28.6%</div>
                                of students from the West have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="outside2019" class="region">
                            <h3>
                                <div class="region-stat">11.2%</div>
                                of students are from outide the US.
                            </h3>
                            <h3>
                                <div class="region-stat">10.2%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">14.0%</div>
                                of students from outside the US have a relative that went to Harvard College.
                            </h3>
                        </div>
                        
                        <div id="northeast2020" class="region">
                            <h3>
                                <div class="region-stat">39.2%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">90.0%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">46.8%</div>
                                of students from the Northeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southeast2020" class="region">
                            <h3>
                                <div class="region-stat">12.0%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">9.2%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">32.1%</div>
                                of students from the Southeast have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="midwest2020" class="region">
                            <h3>
                                <div class="region-stat">11.2%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">20.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">30.4%</div>
                                of students from the Midwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="southwest2020" class="region">
                            <h3>
                                <div class="region-stat">6.7%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">16.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">20.3%</div>
                                of students from the Southwest have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="west2020" class="region">
                            <h3>
                                <div class="region-stat">18.1%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">46.2%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">38.5%</div>
                                of students from the West have a relative that went to Harvard College.
                            </h3>
                        </div>
                        <div id="outside2020" class="region">
                            <h3>
                                <div class="region-stat">12.6%</div>
                                of students are from outide the US.
                            </h3>
                            <h3>
                                <div class="region-stat">39.6%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">15.0%</div>
                                of students from outside the US have a relative that went to Harvard College.
                            </h3>
                        </div>
                        
                    </div>
                </div>
            </div>
</p>
<br>
<br>


   <p>A plurality of freshmen respondents—39 percent—hail from the Northeast, while about 7 percent said they come from the Southwest—the lowest percentage represented among students from the United States.</p>
   <ul>
      <li>Eighteen percent of respondents said they are from the West; 12 percent indicated they are from the Southeast, and 11 percent said they were from the Midwest. A eighth—roughly 13 percent—of surveyed freshmen said they hailed from outside of the United States.</li>
      <li>First-generation students are less likely to come from the Northeast than their non-first-generation peers. Roughly 29 percent of  surveyed first generation students are from the Northeast, compared to 41 percent of non first generation students.</li>
      <li>The majority—61 percent—of surveyed freshmen reported they hail from suburban neighborhoods, while around 31 percent said they live in urban settings, and about 9 percent said they come from rural  communities.</li>
   </ul>
   <br>
   <p class="scroll-row"><strong>Legacies and First Gens</strong></p>
   <p>A slightly smaller percentage of students from the Class of 2020 reported having one or more parents who attended from Harvard College, meaning they are considered legacies in the admissions process, compared to the Class of 2019. This year, 15 percent of surveyed freshmen indicated that they have one or more parents attend from the College, compared to 16 percent last year.</p>
   <br>
   <div id="legacy-tab">
                <h2>Legacy Status</h2>
                <div id="legacy" class="graph"></div>
            </div>
            <br>
   <ul>
   
      <li> Approximately two-thirds of students whose parents’ combined yearly income is more than $500,000 have family members—including parents, grandparents, aunts, uncles, and siblings, and other relatives—who have attended the College. </li>
      <li>Of students who reported having relatives who attended Harvard College, 53 percent hail from the  Northeast. </li>
      <li>Of surveyed students who identify as white, 35 percent also said they have some family member who attended the College.</li>
      <li>Nearly 15 percent of surveyed Hispanics or Latinos said they have relatives who attended the College, as did and 13 percent of American Indian or Alaskan Natives, 27 percent of Asians, 16 percent of South Asians and 16 percent of black or African American students.</li>
      <li>There were no surveyed Pacific Islander students who reported having relatives who graduated from the College.</li>
      <li>Students who reported having family members who attended the College are more likely to come from affluent backgrounds. Only 0.6 percent of students whose parents’ combined income is less than $40,000 per year have legacy status, and 4.6 percent of students whose parents’ combined income was between $40,000 and $80,000 are legacies. </li>
   </ul>
   <br>
   <p class="scroll-row"><strong>Getting In</strong></p>
   <p>In the spring, Harvard accepted a <a href='http://www.thecrimson.com/article/2016/4/1/admissions-low-2020/'>record-low</a> 5.2 percent of applicants for the College’s Class of 2020—or 2,037 students—continuing a years-long dip in admissions rates and making the process the school’s most competitive in modern history.</p>
   <p>The majority of polled students—63 percent— attended public school during their secondary school years, and of those students, about 3 percent attended a public charter school. </p>
   <ul>
      <li>About 36 percent of surveyed students attended private high schools. About 73 percent of those private schools were non-denominational. </li>
      <li>Just over half, 54 percent, of surveyed freshmen were ranked in the top two percent of their high school’s graduating class. And a majority—62—percent of first generation students were ranked at that level in their class, compared to 53 percent of non-first generation students.</li>
      <li>To help with college applications, 16 percent of surveyed freshmen sought counsel from a private admissions officer outside of their secondary schools—and of that population, 34 percent have parents who make more than $500,000.  </li>
      <li>Just over of freshmen surveyed were accepted early to Harvard, and 34 percent of first generation college students were accepted into Harvard’s early admissions program.</li>
      <li>A slight majority of students who hail from urban settings, or 52 percent, were accepted early, while 36 percent of students from rural areas were accepted early. </li>
      <li>Fewer than half of surveyed freshmen—42 percent—reported applying to Yale. Of the respondents who said they applied to Yale, 31.1 percent were admitted.  </li>
   </ul>
   <br>
   <br>
   <div id="sat-tab" class="active">
                <h2>GPA vs. SAT Score</h2>
                <div class="scatter"><svg id="sat-gpa"></svg></div>
                <p></p>
            </div>
   <br>
   <br>
   <p>The average reported combined SAT score for the class was 2234.6, according to The Crimson’s survey. </p>
   <ul>
      <li>First-generation students reported having an average SAT score of 2118.1. Students who were not first generation reported averaging a 2257.2. </li>
      <li>Males and females reported similar average SAT scores: 2233.1 and 2236.6, respectively. </li>
      <li>Students with families that earn less than $40,000 per year had an average best SAT score of 2157.3. Student with families making between $80,000 and $125,000 per year scored 2236.3 on their SAT. Freshmen with families making between $250,000 and $500,000 had an average score of 2280.4. </li>
   </ul>
   <br>

   <p class="scroll-row"><strong>Paying</strong></p>
   <p>The College states that the price to attend Harvard for the 2016-2017 academic year is $63,025, including tuition, room, and board. While the price tag is hefty, Harvard in the past decade has significantly invested in financial aid, making attending the College free for all students whose parents make less than $65,000 annually. </p>
   <ul>
      <li> A majority of surveyed freshmen—57—reported receiving financial aid from the College. In total, 68 percent of surveyed students from public schools reported receiving some form of financial aid, compared to 37 percent of students from private schools.</li>
      <li>Nearly all, or 95 percent, of surveyed students who reported being first-generation said they receive financial aid. </li>
   </ul>
   <p>&mdash;Staff writer Ignacio Sabate can be reached at ignacio.sabate@thecrimson.com. Follow him on Twitter @ignacio_sabate. </p>
</div>

{% endblock %}
