{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}`
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}makeup/{% endblock %}
{% block narrative_link %}makeup-narrative/{% endblock %}
{% block yale_link %}makeup-yale/{% endblock %}

{% block content %}
    <div id="subhead">Meet the Yalies</div>
    <div id="narrative" class="intro scroll-row">
        <p id="byline">
            <i>By</i>
            <a href="http://www.thecrimson.com/writer/1210595/Meg_P._Bernhard/">Meg P. Bernhard</a>
        </p>
        <p>The stark differences between Harvard and Yale on the football field do not appear to exist between the rivals&rsquo; freshman classes, according to surveys sent to the newest batch of first-year students at both schools.</p>
        <p>In the month of August, both The Crimson and the Yale Daily News, Yale&rsquo;s daily student newspaper, surveyed incoming freshmen on their backgrounds and interests, finding many similarities between the two Ivy League institutions.</p>
        <p>The Crimson emailed its annual survey to all members of the Class of 2019. Of the 1,665 students, 1,184, more than 70 percent of the class, responded to the survey. The YDN emailed its survey to all incoming Yale freshmen. Of 1,364 incoming Yale freshmen, 853, or 63 percent, responded.</p>
        <p>Neither The Crimson nor the YDN adjusted for any possible selection bias.</p>
        <p>Fifty-six percent of Harvard freshman respondents said they receive financial aid from the College, while half of Yale&rsquo;s freshman respondents said they are on financial aid. Fourteen percent of surveyed freshmen at both schools report having combined household incomes of less than $40,000.</p>
        <p>Results from The Crimson&rsquo;s survey showed that 16 percent of respondents are first-generation college students. Although the YDN did not specifically ask students about their first-generation status, 8 percent of Yale respondents said they had parents whose highest level of education was some form of high school or a high school diploma.</p>
        <p>Sixteen percent of incoming Harvard respondents reported that one or both of their parents attended the College, meaning they are considered legacies by the Admissions Office. Eleven percent of Yale respondents have at least one parent who attended Yale.</p>
        <p>Among survey respondents, female students comprise the majority of surveyed freshmen at both schools&mdash;54 and 51 percent at Yale and Harvard, respectively. Two freshmen in the YDN survey identified as “other.”</p>
        <p>Five percent of Yale respondents identify as homosexual, and 7 percent identify as bisexual. Five percent of surveyed Harvard freshmen identify as homosexual, while 5 percent identify as bisexual.</p>
        <p>The majority of freshmen surveyed at both schools&mdash;about 60 percent&mdash;are white or Caucasian. Thirteen percent of surveyed freshmen at Yale are Hispanic-American, Hispanic, or Latino, and 11 percent identify as African American, African, or Afro-Cuban. Twenty-six percent of respondents identify as Asian or Asian-American.</p>
        <p>A plurality of students surveyed at Harvard and Yale come from the Northeast&mdash;34 percent at Yale, and 38 percent at Harvard. Thirteen percent of respondents at Yale are international students.</p>
        <p>Fifty-eight percent of Yale respondents attended a public high schools, most of them non-charter, compared to 63 percent of Harvard respondents, while 42 percent at Yale attended private school for high school.</p>
        <p>The majority of survey respondents at both schools&mdash;more than 60 percent&mdash;live in the suburbs. Thirty-two percent of incoming Yalies who responded said they hailed from an urban community, compared to 28 percent at Harvard.</p>
        <p>&mdash;Staff writer Meg P. Bernhard can be reached at meg.bernhard@thecrimson.com. Follow her on Twitter <a href="https://twitter.com/meg_bernhard">@meg_bernhard</a>.</p>
    </div>

{% endblock %}
